<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>combatgirl_face_tmp_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,77},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatgirl_head_1_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,80},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatgirl_head_2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,73},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatgirl_head_3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,73},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_arm1_R_P_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,187},{24,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,29}}</string>
			<key>sourceSize</key>
			<string>{24,29}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_arm_L20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,148},{21,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,41}}</string>
			<key>sourceSize</key>
			<string>{21,41}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_arm_L2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,161},{22,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,36}}</string>
			<key>sourceSize</key>
			<string>{22,36}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_arm_L30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,161},{24,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,33}}</string>
			<key>sourceSize</key>
			<string>{24,33}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_arm_L3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,152},{23,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,35}}</string>
			<key>sourceSize</key>
			<string>{23,35}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_arm_L4_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,164},{33,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,21}}</string>
			<key>sourceSize</key>
			<string>{33,21}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_arm_L5_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,211},{21,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,19}}</string>
			<key>sourceSize</key>
			<string>{21,19}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_arm_R20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,39},{14,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,29}}</string>
			<key>sourceSize</key>
			<string>{14,29}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_arm_R30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,0},{14,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,37}}</string>
			<key>sourceSize</key>
			<string>{14,37}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_arm_R3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,171},{36,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,18}}</string>
			<key>sourceSize</key>
			<string>{36,18}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_arm_R4_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,152},{24,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,34}}</string>
			<key>sourceSize</key>
			<string>{24,34}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_arm_R5_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,191},{29,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,21}}</string>
			<key>sourceSize</key>
			<string>{29,21}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_body20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,56},{36,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,49}}</string>
			<key>sourceSize</key>
			<string>{36,49}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_body21_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,138},{37,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,29}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_body30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,81},{37,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,46}}</string>
			<key>sourceSize</key>
			<string>{37,46}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_body31_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,129},{37,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,30}}</string>
			<key>sourceSize</key>
			<string>{37,30}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_body32_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,0},{59,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,55}}</string>
			<key>sourceSize</key>
			<string>{59,55}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_body3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,51},{46,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,54}}</string>
			<key>sourceSize</key>
			<string>{46,54}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_body40_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,76},{54,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,33}}</string>
			<key>sourceSize</key>
			<string>{54,33}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_body4_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,81},{38,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,47}}</string>
			<key>sourceSize</key>
			<string>{38,47}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_body50_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,107},{40,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,33}}</string>
			<key>sourceSize</key>
			<string>{40,33}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_body5_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,51},{37,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,53}}</string>
			<key>sourceSize</key>
			<string>{37,53}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_body6_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,81},{38,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,45}}</string>
			<key>sourceSize</key>
			<string>{38,45}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_body7_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,57},{46,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,42}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_bomb_sample_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,0},{87,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,74}}</string>
			<key>sourceSize</key>
			<string>{87,74}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_foot_L20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,190},{18,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,23}}</string>
			<key>sourceSize</key>
			<string>{18,23}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_foot_L2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,150},{27,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,31}}</string>
			<key>sourceSize</key>
			<string>{27,31}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_foot_L30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,179},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_foot_L3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,199},{22,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,19}}</string>
			<key>sourceSize</key>
			<string>{22,19}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_foot_L4_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,196},{26,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,19}}</string>
			<key>sourceSize</key>
			<string>{26,19}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_foot_L5_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,214},{23,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,13}}</string>
			<key>sourceSize</key>
			<string>{23,13}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_foot_R20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,188},{25,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,21}}</string>
			<key>sourceSize</key>
			<string>{25,21}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_foot_R2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,210},{25,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,19}}</string>
			<key>sourceSize</key>
			<string>{25,19}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_foot_R30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,211},{25,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,19}}</string>
			<key>sourceSize</key>
			<string>{25,19}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_foot_R3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,215},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_foot_R4_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,207},{17,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,22}}</string>
			<key>sourceSize</key>
			<string>{17,22}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_foot_R5_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,202},{27,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,17}}</string>
			<key>sourceSize</key>
			<string>{27,17}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_forearm_L20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,179},{21,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,32}}</string>
			<key>sourceSize</key>
			<string>{21,32}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_forearm_L2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,213},{28,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,14}}</string>
			<key>sourceSize</key>
			<string>{28,14}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_forearm_L30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,214},{20,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,17}}</string>
			<key>sourceSize</key>
			<string>{20,17}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_forearm_L3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,212},{30,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,13}}</string>
			<key>sourceSize</key>
			<string>{30,13}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_forearm_R20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,70},{14,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,25}}</string>
			<key>sourceSize</key>
			<string>{14,25}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_forearm_R2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,183},{25,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,28}}</string>
			<key>sourceSize</key>
			<string>{25,28}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_forearm_R30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,191},{29,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,17}}</string>
			<key>sourceSize</key>
			<string>{29,17}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_forearm_R3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,172},{14,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,13}}</string>
			<key>sourceSize</key>
			<string>{14,13}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_ghost_001_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,81},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_gun_sample_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{83,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,79}}</string>
			<key>sourceSize</key>
			<string>{83,79}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hand_L20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,217},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hand_L2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,213},{20,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,18}}</string>
			<key>sourceSize</key>
			<string>{20,18}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hand_L30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,217},{15,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,16}}</string>
			<key>sourceSize</key>
			<string>{15,16}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hand_L3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,214},{19,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,18}}</string>
			<key>sourceSize</key>
			<string>{19,18}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hand_R20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,57},{13,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,14}}</string>
			<key>sourceSize</key>
			<string>{13,14}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hand_R2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,196},{25,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,19}}</string>
			<key>sourceSize</key>
			<string>{25,19}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hand_R30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,214},{19,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,16}}</string>
			<key>sourceSize</key>
			<string>{19,16}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hand_R3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,187},{22,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,25}}</string>
			<key>sourceSize</key>
			<string>{22,25}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hand_R4_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,161},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hand_R5_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,189},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hip20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,142},{37,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,27}}</string>
			<key>sourceSize</key>
			<string>{37,27}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hip2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,188},{27,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,24}}</string>
			<key>sourceSize</key>
			<string>{27,24}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hip30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,190},{32,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,20}}</string>
			<key>sourceSize</key>
			<string>{32,20}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_hip3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,125},{34,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,37}}</string>
			<key>sourceSize</key>
			<string>{34,37}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_mount_body_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,77},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_mount_head_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,77},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_qiu20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,189},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{21,20}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_shank_L20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,97},{27,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,43}}</string>
			<key>sourceSize</key>
			<string>{27,43}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_shank_L2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,132},{50,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,18}}</string>
			<key>sourceSize</key>
			<string>{50,18}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_shank_L30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,162},{42,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,15}}</string>
			<key>sourceSize</key>
			<string>{42,15}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_shank_L3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,195},{28,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,18}}</string>
			<key>sourceSize</key>
			<string>{28,18}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_shank_L4_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,143},{21,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,43}}</string>
			<key>sourceSize</key>
			<string>{21,43}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_shank_L5_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,142},{46,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,18}}</string>
			<key>sourceSize</key>
			<string>{46,18}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_shank_R20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,150},{16,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,43}}</string>
			<key>sourceSize</key>
			<string>{16,43}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_shank_R2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,128},{19,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,49}}</string>
			<key>sourceSize</key>
			<string>{19,49}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_shank_R30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,143},{18,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,44}}</string>
			<key>sourceSize</key>
			<string>{18,44}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_shank_R3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,215},{19,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,15}}</string>
			<key>sourceSize</key>
			<string>{19,15}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_shank_R4_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,169},{36,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,19}}</string>
			<key>sourceSize</key>
			<string>{36,19}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_shank_R5_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,111},{52,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,19}}</string>
			<key>sourceSize</key>
			<string>{52,19}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_skirt20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,56},{54,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,34}}</string>
			<key>sourceSize</key>
			<string>{54,34}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_skirt30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,92},{47,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,31}}</string>
			<key>sourceSize</key>
			<string>{47,31}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_thigh_L20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,128},{19,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,49}}</string>
			<key>sourceSize</key>
			<string>{19,49}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_thigh_L2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,81},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_thigh_L30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,107},{41,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,34}}</string>
			<key>sourceSize</key>
			<string>{41,34}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_thigh_L3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,172},{32,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,22}}</string>
			<key>sourceSize</key>
			<string>{32,22}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_thigh_L4_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,125},{46,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,23}}</string>
			<key>sourceSize</key>
			<string>{46,23}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_thigh_R20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,76},{25,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,47}}</string>
			<key>sourceSize</key>
			<string>{25,47}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_thigh_R2_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,101},{41,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,35}}</string>
			<key>sourceSize</key>
			<string>{41,35}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_thigh_R30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,106},{34,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,40}}</string>
			<key>sourceSize</key>
			<string>{34,40}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_thigh_R3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,179},{32,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,21}}</string>
			<key>sourceSize</key>
			<string>{32,21}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_thigh_R4_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,125},{24,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,45}}</string>
			<key>sourceSize</key>
			<string>{24,45}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_thigh_R5_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,130},{37,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,29}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_wing_L_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,73},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_wing_R_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,76},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_wqp1_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,0},{75,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,79}}</string>
			<key>sourceSize</key>
			<string>{75,79}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_wqp3_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,0},{87,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,49}}</string>
			<key>sourceSize</key>
			<string>{87,49}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_wqp_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,0},{93,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,54}}</string>
			<key>sourceSize</key>
			<string>{93,54}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_zs20_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,210},{15,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,21}}</string>
			<key>sourceSize</key>
			<string>{15,21}</string>
		</dict>
		<key>combatgirl_parts-combatgirl_zs30_011_rs001.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,148},{14,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,22}}</string>
			<key>sourceSize</key>
			<string>{14,22}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>combatgirl_body_011_rs001.png</string>
		<key>size</key>
		<string>{512,256}</string>
		<key>textureFileName</key>
		<string>combatgirl_body_011_rs001.png</string>
	</dict>
</dict>
</plist>
