<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>combatgirl_parts-combatgirl_face5_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,146},{60,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,46}}</string>
        <key>sourceSize</key>
        <string>{60,46}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face9_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{63,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,45}}</string>
        <key>sourceSize</key>
        <string>{63,45}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face8_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,98},{64,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,46}}</string>
        <key>sourceSize</key>
        <string>{64,46}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face11_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,53},{66,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,47}}</string>
        <key>sourceSize</key>
        <string>{66,47}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face10_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,139},{62,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,45}}</string>
        <key>sourceSize</key>
        <string>{62,45}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face6_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{68,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,49}}</string>
        <key>sourceSize</key>
        <string>{68,49}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face7_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,51}}</string>
        <key>sourceSize</key>
        <string>{72,51}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face4_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,94},{68,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,43}}</string>
        <key>sourceSize</key>
        <string>{68,43}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face3_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,47},{68,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,45}}</string>
        <key>sourceSize</key>
        <string>{68,45}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face2_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{68,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,45}}</string>
        <key>sourceSize</key>
        <string>{68,45}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face1_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,51},{68,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,45}}</string>
        <key>sourceSize</key>
        <string>{68,45}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>combatgirl_face_011.png</string>
      <key>textureFileName</key>
      <string>combatgirl_face_011.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>