<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>face160_07.png</key>
   <dict>
    <key>frame</key>
    <string>{{126,126},{124,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,124}}</string>
    <key>sourceSize</key>
    <string>{124,124}</string>
   </dict>
   <key>face160_06.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,0},{124,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,124}}</string>
    <key>sourceSize</key>
    <string>{124,124}</string>
   </dict>
   <key>face160_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,126},{124,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,124}}</string>
    <key>sourceSize</key>
    <string>{124,124}</string>
   </dict>
   <key>face160_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{124,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,124}}</string>
    <key>sourceSize</key>
    <string>{124,124}</string>
   </dict>
   <key>face160_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{126,0},{124,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,124}}</string>
    <key>sourceSize</key>
    <string>{124,124}</string>
   </dict>
   <key>face160_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{378,0},{124,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,124}}</string>
    <key>sourceSize</key>
    <string>{124,124}</string>
   </dict>
   <key>face160_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,126},{124,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,124}}</string>
    <key>sourceSize</key>
    <string>{124,124}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>face160.png</string>
   <key>textureFileName</key>
   <string>face160.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>