<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>face270_parts-face380_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{119,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>face270_parts-face380_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,130},{119,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>face270_parts-face380_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,0},{119,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>face270_parts-face380_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,260},{119,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>face270_parts-face380_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,130},{119,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>face270_parts-face380_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,260},{119,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>face270_parts-face380_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{119,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>face270_parts-face380_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{119,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>face270_parts-face380_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{119,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>face270_parts-face380_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,130},{119,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>face270_parts-face380_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,260},{119,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>face270_parts-face380_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,260},{119,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>face380.png</string>
      <key>textureFileName</key>
      <string>face380.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>