<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>face170_parts-face170_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,252},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
   <key>face170_parts-face170_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{234,0},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
   <key>face170_parts-face170_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,252},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
   <key>face170_parts-face170_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,126},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
   <key>face170_parts-face170_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,378},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
   <key>face170_parts-face170_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{234,126},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
   <key>face170_parts-face170_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
   <key>face170_parts-face170_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{117,0},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
   <key>face170_parts-face170_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,0},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
   <key>face170_parts-face170_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{117,126},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
   <key>face170_parts-face170_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{351,126},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
   <key>face170_parts-face170_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{117,252},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
   <key>face170_parts-face170_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{234,252},{115,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,124}}</string>
    <key>sourceSize</key>
    <string>{115,124}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>face170.png</string>
   <key>textureFileName</key>
   <string>face170.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>