<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>face280_parts-face280_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,136},{126,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,134}}</string>
        <key>sourceSize</key>
        <string>{126,134}</string>
      </dict>
      <key>face280_parts-face280_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{126,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,134}}</string>
        <key>sourceSize</key>
        <string>{126,134}</string>
      </dict>
      <key>face280_parts-face280_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,272},{126,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,134}}</string>
        <key>sourceSize</key>
        <string>{126,134}</string>
      </dict>
      <key>face280_parts-face280_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,136},{126,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,134}}</string>
        <key>sourceSize</key>
        <string>{126,134}</string>
      </dict>
      <key>face280_parts-face280_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,272},{126,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,134}}</string>
        <key>sourceSize</key>
        <string>{126,134}</string>
      </dict>
      <key>face280_parts-face280_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,134}}</string>
        <key>sourceSize</key>
        <string>{126,134}</string>
      </dict>
      <key>face280_parts-face280_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{126,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,134}}</string>
        <key>sourceSize</key>
        <string>{126,134}</string>
      </dict>
      <key>face280_parts-face280_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{126,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,134}}</string>
        <key>sourceSize</key>
        <string>{126,134}</string>
      </dict>
      <key>face280_parts-face280_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,136},{126,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,134}}</string>
        <key>sourceSize</key>
        <string>{126,134}</string>
      </dict>
      <key>face280_parts-face280_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,136},{126,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,134}}</string>
        <key>sourceSize</key>
        <string>{126,134}</string>
      </dict>
      <key>face280_parts-face280_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,272},{126,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,134}}</string>
        <key>sourceSize</key>
        <string>{126,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>face280.png</string>
      <key>textureFileName</key>
      <string>face280.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>