<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>face310_parts-face310_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,137},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>face310_parts-face310_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,0},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>face310_parts-face310_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,137},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>face310_parts-face310_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,0},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>face310_parts-face310_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,274},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>face310_parts-face310_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>face310_parts-face310_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>face310_parts-face310_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>face310_parts-face310_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,0},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>face310_parts-face310_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,0},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>face310_parts-face310_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,137},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>face310_parts-face310_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,137},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
      <key>face310_parts-face310_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,137},{157,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,135}}</string>
        <key>sourceSize</key>
        <string>{157,135}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>face310.png</string>
      <key>textureFileName</key>
      <string>face310.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>