<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>face260_parts-face260_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{115,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
      <key>face260_parts-face260_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,123},{115,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
      <key>face260_parts-face260_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,0},{115,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
      <key>face260_parts-face260_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,246},{115,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
      <key>face260_parts-face260_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,123},{115,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
      <key>face260_parts-face260_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,246},{115,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
      <key>face260_parts-face260_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{115,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
      <key>face260_parts-face260_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{115,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
      <key>face260_parts-face260_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{115,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
      <key>face260_parts-face260_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,123},{115,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
      <key>face260_parts-face260_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,246},{115,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
      <key>face260_parts-face260_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,246},{115,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,121}}</string>
        <key>sourceSize</key>
        <string>{115,121}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>face260.png</string>
      <key>textureFileName</key>
      <string>face260.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>