<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>face240_parts-face240_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{120,0},{118,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,124}}</string>
    <key>sourceSize</key>
    <string>{118,124}</string>
   </dict>
   <key>face240_parts-face240_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{120,252},{118,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,124}}</string>
    <key>sourceSize</key>
    <string>{118,124}</string>
   </dict>
   <key>face240_parts-face240_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,0},{118,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,124}}</string>
    <key>sourceSize</key>
    <string>{118,124}</string>
   </dict>
   <key>face240_parts-face240_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,252},{118,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,124}}</string>
    <key>sourceSize</key>
    <string>{118,124}</string>
   </dict>
   <key>face240_parts-face240_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{120,126},{118,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,124}}</string>
    <key>sourceSize</key>
    <string>{118,124}</string>
   </dict>
   <key>face240_parts-face240_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{118,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,124}}</string>
    <key>sourceSize</key>
    <string>{118,124}</string>
   </dict>
   <key>face240_parts-face240_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,0},{118,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,124}}</string>
    <key>sourceSize</key>
    <string>{118,124}</string>
   </dict>
   <key>face240_parts-face240_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,126},{118,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,124}}</string>
    <key>sourceSize</key>
    <string>{118,124}</string>
   </dict>
   <key>face240_parts-face240_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{240,126},{118,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,124}}</string>
    <key>sourceSize</key>
    <string>{118,124}</string>
   </dict>
   <key>face240_parts-face240_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,126},{118,124}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{118,124}}</string>
    <key>sourceSize</key>
    <string>{118,124}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>face240.png</string>
   <key>textureFileName</key>
   <string>face240.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>