<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>face300_parts-face300_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,270},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
      <key>face300_parts-face300_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
      <key>face300_parts-face300_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,270},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
      <key>face300_parts-face300_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,135},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
      <key>face300_parts-face300_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,405},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
      <key>face300_parts-face300_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,135},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
      <key>face300_parts-face300_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
      <key>face300_parts-face300_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,0},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
      <key>face300_parts-face300_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
      <key>face300_parts-face300_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,135},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
      <key>face300_parts-face300_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,135},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
      <key>face300_parts-face300_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,270},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
      <key>face300_parts-face300_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,270},{124,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,133}}</string>
        <key>sourceSize</key>
        <string>{124,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>face300.png</string>
      <key>textureFileName</key>
      <string>face300.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>