<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>face90_parts-face90_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,321},{124,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,158}}</string>
    <key>sourceSize</key>
    <string>{124,158}</string>
   </dict>
   <key>face90_parts-face90_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,322},{124,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,158}}</string>
    <key>sourceSize</key>
    <string>{124,158}</string>
   </dict>
   <key>face90_parts-face90_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{378,321},{124,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,158}}</string>
    <key>sourceSize</key>
    <string>{124,158}</string>
   </dict>
   <key>face90_parts-face90_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{378,161},{124,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,158}}</string>
    <key>sourceSize</key>
    <string>{124,158}</string>
   </dict>
   <key>face90_parts-face90_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{126,322},{124,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,158}}</string>
    <key>sourceSize</key>
    <string>{124,158}</string>
   </dict>
   <key>face90_parts-face90_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,481},{124,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,158}}</string>
    <key>sourceSize</key>
    <string>{124,158}</string>
   </dict>
   <key>face90_parts-face90_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,161},{124,158}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,158}}</string>
    <key>sourceSize</key>
    <string>{124,158}</string>
   </dict>
   <key>face90_parts-face90_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{126,0},{124,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,159}}</string>
    <key>sourceSize</key>
    <string>{124,159}</string>
   </dict>
   <key>face90_parts-face90_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{378,0},{124,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,159}}</string>
    <key>sourceSize</key>
    <string>{124,159}</string>
   </dict>
   <key>face90_parts-face90_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{252,0},{124,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,159}}</string>
    <key>sourceSize</key>
    <string>{124,159}</string>
   </dict>
   <key>face90_parts-face90_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{124,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,159}}</string>
    <key>sourceSize</key>
    <string>{124,159}</string>
   </dict>
   <key>face90_parts-face90_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,161},{124,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,159}}</string>
    <key>sourceSize</key>
    <string>{124,159}</string>
   </dict>
   <key>face90_parts-face90_0.png</key>
   <dict>
    <key>frame</key>
    <string>{{126,161},{124,159}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,159}}</string>
    <key>sourceSize</key>
    <string>{124,159}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>face90.png</string>
   <key>textureFileName</key>
   <string>face90.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>