<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>face440_parts-fe14.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,0},{135,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,135}}</string>
        <key>sourceSize</key>
        <string>{135,135}</string>
      </dict>
      <key>face440_parts-fe13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{135,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,135}}</string>
        <key>sourceSize</key>
        <string>{135,135}</string>
      </dict>
      <key>face440_parts-fe12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{135,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,135}}</string>
        <key>sourceSize</key>
        <string>{135,135}</string>
      </dict>
      <key>face440_parts-fe11.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{135,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{135,135}}</string>
        <key>sourceSize</key>
        <string>{135,135}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>face440.png</string>
      <key>textureFileName</key>
      <string>face440.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>