<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>face290_parts-face290_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,294},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>face290_parts-face290_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>face290_parts-face290_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>face290_parts-face290_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,147},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>face290_parts-face290_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,441},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>face290_parts-face290_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,147},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>face290_parts-face290_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>face290_parts-face290_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>face290_parts-face290_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,0},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>face290_parts-face290_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,147},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>face290_parts-face290_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,147},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>face290_parts-face290_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,294},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>face290_parts-face290_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,294},{123,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>face290.png</string>
      <key>textureFileName</key>
      <string>face290.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>