<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>face340_parts-face_chi.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,52},{46,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,49}}</string>
        <key>sourceSize</key>
        <string>{46,49}</string>
      </dict>
      <key>face340_parts-face_gua.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,0},{52,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,50}}</string>
        <key>sourceSize</key>
        <string>{52,50}</string>
      </dict>
      <key>face340_parts-face_340_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,0},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,354},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,0},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,236},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,118},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,354},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,118},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,236},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,118},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,354},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,118},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,354},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,236},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,472},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,0},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,0},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,118},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,118},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,118},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,118},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,236},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,236},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,236},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,236},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,354},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,354},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,354},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,354},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,236},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>face340_parts-face_340_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{114,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>face340.png</string>
      <key>textureFileName</key>
      <string>face340.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>