<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>face40_parts-face400013.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,402},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
   <key>face40_parts-face400012.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,0},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
   <key>face40_parts-face400011.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,268},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
   <key>face40_parts-face400010.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,134},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
   <key>face40_parts-face400009.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,536},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
   <key>face40_parts-face400008.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,268},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
   <key>face40_parts-face400007.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
   <key>face40_parts-face400006.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,0},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
   <key>face40_parts-face400005.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,134},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
   <key>face40_parts-face400004.png</key>
   <dict>
    <key>frame</key>
    <string>{{296,134},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
   <key>face40_parts-face400003.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,268},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
   <key>face40_parts-face400002.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,402},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
   <key>face40_parts-face400001.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,402},{146,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{146,132}}</string>
    <key>sourceSize</key>
    <string>{146,132}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>face40.png</string>
   <key>textureFileName</key>
   <string>face40.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>