<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>face140_parts-face140_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,133},{113,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,123}}</string>
        <key>sourceSize</key>
        <string>{113,123}</string>
      </dict>
      <key>face140_parts-face140_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,383},{113,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,121}}</string>
        <key>sourceSize</key>
        <string>{113,121}</string>
      </dict>
      <key>face140_parts-face140_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,0},{113,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,130}}</string>
        <key>sourceSize</key>
        <string>{113,130}</string>
      </dict>
      <key>face140_parts-face140_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,386},{113,118}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,118}}</string>
        <key>sourceSize</key>
        <string>{113,118}</string>
      </dict>
      <key>face140_parts-face140_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,261},{113,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,121}}</string>
        <key>sourceSize</key>
        <string>{113,121}</string>
      </dict>
      <key>face140_parts-face140_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{112,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,132}}</string>
        <key>sourceSize</key>
        <string>{112,132}</string>
      </dict>
      <key>face140_parts-face140_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,261},{111,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,123}}</string>
        <key>sourceSize</key>
        <string>{111,123}</string>
      </dict>
      <key>face140_parts-face140_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{112,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,121}}</string>
        <key>sourceSize</key>
        <string>{112,121}</string>
      </dict>
      <key>face140_parts-face140_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{111,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,124}}</string>
        <key>sourceSize</key>
        <string>{111,124}</string>
      </dict>
      <key>face140_parts-face140_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{111,134}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,134}}</string>
        <key>sourceSize</key>
        <string>{111,134}</string>
      </dict>
      <key>face140_parts-face140_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,134},{111,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,125}}</string>
        <key>sourceSize</key>
        <string>{111,125}</string>
      </dict>
      <key>face140_parts-face140_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,136},{112,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,123}}</string>
        <key>sourceSize</key>
        <string>{112,123}</string>
      </dict>
      <key>face140_parts-face140_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,260},{113,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,121}}</string>
        <key>sourceSize</key>
        <string>{113,121}</string>
      </dict>
      <key>face140_parts-face140_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,132},{113,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,126}}</string>
        <key>sourceSize</key>
        <string>{113,126}</string>
      </dict>
      <key>face140_parts-face140_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,131}}</string>
        <key>sourceSize</key>
        <string>{114,131}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>face140.png</string>
      <key>textureFileName</key>
      <string>face140.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>