<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>combatboy_parts-combatboy_ghost_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,43},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>combatboy_parts-combatboy_mount_head_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,45},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>combatboy_parts-combatboy_mount_body_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,44},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>combatboy_parts-comabatboy_hand11_L_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,131},{21,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,25}}</string>
        <key>sourceSize</key>
        <string>{21,25}</string>
      </dict>
      <key>combatboy_parts-comabatboy_forearm11_L_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,158},{24,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,21}}</string>
        <key>sourceSize</key>
        <string>{24,21}</string>
      </dict>
      <key>combatboy_parts-combatboy_hand_L3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,164},{23,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,14}}</string>
        <key>sourceSize</key>
        <string>{23,14}</string>
      </dict>
      <key>combatboy_parts-combatboy_dress10_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,117},{34,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,30}}</string>
        <key>sourceSize</key>
        <string>{34,30}</string>
      </dict>
      <key>combatboy_parts-combatboy_hip4_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,81},{41,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,33}}</string>
        <key>sourceSize</key>
        <string>{41,33}</string>
      </dict>
      <key>combatboy_parts-combatboy_foot_L4_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,154},{26,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,20}}</string>
        <key>sourceSize</key>
        <string>{26,20}</string>
      </dict>
      <key>combatboy_parts-combatboy_body7_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{48,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,42}}</string>
        <key>sourceSize</key>
        <string>{48,42}</string>
      </dict>
      <key>combatboy_parts-combatboy_body8_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,92},{30,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,38}}</string>
        <key>sourceSize</key>
        <string>{30,38}</string>
      </dict>
      <key>combatboy_parts-combatboy_foot_R4_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,156},{26,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,20}}</string>
        <key>sourceSize</key>
        <string>{26,20}</string>
      </dict>
      <key>combatboy_parts-combatboy_dress15_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,73},{15,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,26}}</string>
        <key>sourceSize</key>
        <string>{15,26}</string>
      </dict>
      <key>combatboy_parts-combatboy_hand_R6_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,166},{21,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,13}}</string>
        <key>sourceSize</key>
        <string>{21,13}</string>
      </dict>
      <key>combatboy_parts-combatboy_forearm_R_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,132},{23,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,30}}</string>
        <key>sourceSize</key>
        <string>{23,30}</string>
      </dict>
      <key>combatboy_parts-combatboy_arm_R_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,123},{23,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,39}}</string>
        <key>sourceSize</key>
        <string>{23,39}</string>
      </dict>
      <key>combatboy_parts-comabatboy_body11_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,0},{52,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,41}}</string>
        <key>sourceSize</key>
        <string>{52,41}</string>
      </dict>
      <key>combatboy_parts-comabatboy_hand12_L_002 .png</key>
      <dict>
        <key>frame</key>
        <string>{{287,123},{18,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,21}}</string>
        <key>sourceSize</key>
        <string>{18,21}</string>
      </dict>
      <key>combatboy_parts-comabatboy_forearm12_L_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,137},{26,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,24}}</string>
        <key>sourceSize</key>
        <string>{26,24}</string>
      </dict>
      <key>combatboy_parts-comabatboy_arm11_L_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{40,120},{29,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,34}}</string>
        <key>sourceSize</key>
        <string>{29,34}</string>
      </dict>
      <key>combatboy_parts-comabatboy_yaidai11_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,141},{37,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,16}}</string>
        <key>sourceSize</key>
        <string>{37,16}</string>
      </dict>
      <key>combatboy_parts-comabatboy_thigh11_L_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,43},{38,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,44}}</string>
        <key>sourceSize</key>
        <string>{38,44}</string>
      </dict>
      <key>combatboy_parts-comabatboy_hip11_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,86},{43,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,29}}</string>
        <key>sourceSize</key>
        <string>{43,29}</string>
      </dict>
      <key>combatboy_parts-comabatboy_body12_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,0},{42,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,50}}</string>
        <key>sourceSize</key>
        <string>{42,50}</string>
      </dict>
      <key>combatboy_parts-comabatboy_foot11_L_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,158},{23,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,19}}</string>
        <key>sourceSize</key>
        <string>{23,19}</string>
      </dict>
      <key>combatboy_parts-comabatboy_shank11_L_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,101},{25,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,40}}</string>
        <key>sourceSize</key>
        <string>{25,40}</string>
      </dict>
      <key>combatboy_parts-comabatboy_foot11_R_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,158},{24,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,20}}</string>
        <key>sourceSize</key>
        <string>{24,20}</string>
      </dict>
      <key>combatboy_parts-comabatboy_thigh11_R_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,45},{30,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,50}}</string>
        <key>sourceSize</key>
        <string>{30,50}</string>
      </dict>
      <key>combatboy_parts-comabatboy_shank11_R_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,125},{21,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,41}}</string>
        <key>sourceSize</key>
        <string>{21,41}</string>
      </dict>
      <key>combatboy_parts-comabatboy_hand11_R_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,132},{18,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,19}}</string>
        <key>sourceSize</key>
        <string>{18,19}</string>
      </dict>
      <key>combatboy_parts-comabatboy_forearm11_R_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,45},{18,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,26}}</string>
        <key>sourceSize</key>
        <string>{18,26}</string>
      </dict>
      <key>combatboy_parts-comabatboy_arm11_R_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,127},{30,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,29}}</string>
        <key>sourceSize</key>
        <string>{30,29}</string>
      </dict>
      <key>combatboy_parts-combatboy_yaodai10_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,146},{39,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,18}}</string>
        <key>sourceSize</key>
        <string>{39,18}</string>
      </dict>
      <key>combatboy_parts-combatboy_foot_L2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,143},{25,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,25}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>combatboy_parts-combatboy_shank_L2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,76},{50,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,25}}</string>
        <key>sourceSize</key>
        <string>{50,25}</string>
      </dict>
      <key>combatboy_parts-combatboy_hand_R2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,127},{17,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,18}}</string>
        <key>sourceSize</key>
        <string>{17,18}</string>
      </dict>
      <key>combatboy_parts-combatboy_forearm_R2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,132},{23,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,35}}</string>
        <key>sourceSize</key>
        <string>{23,35}</string>
      </dict>
      <key>combatboy_parts-combatboy_arm_R2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,116},{37,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,28}}</string>
        <key>sourceSize</key>
        <string>{37,28}</string>
      </dict>
      <key>combatboy_parts-combatboy_body22_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{51,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,43}}</string>
        <key>sourceSize</key>
        <string>{51,43}</string>
      </dict>
      <key>combatboy_parts-combatboy_arm_L2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,89},{28,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,41}}</string>
        <key>sourceSize</key>
        <string>{28,41}</string>
      </dict>
      <key>combatboy_parts-combatboy_hand_L6_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,157},{24,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,22}}</string>
        <key>sourceSize</key>
        <string>{24,22}</string>
      </dict>
      <key>combatboy_parts-combatboy_forearm_L6_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,92},{33,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,33}}</string>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>combatboy_parts-combatboy_body3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,0},{39,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,48}}</string>
        <key>sourceSize</key>
        <string>{39,48}</string>
      </dict>
      <key>combatboy_parts-combatboy_yaodai_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,103},{39,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,26}}</string>
        <key>sourceSize</key>
        <string>{39,26}</string>
      </dict>
      <key>combatboy_parts-combatboy_thigh_R5_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,49},{36,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,41}}</string>
        <key>sourceSize</key>
        <string>{36,41}</string>
      </dict>
      <key>combatboy_parts-combatboy_shank_R5_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,112},{38,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,27}}</string>
        <key>sourceSize</key>
        <string>{38,27}</string>
      </dict>
      <key>combatboy_parts-combatboy_hip2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,81},{45,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,29}}</string>
        <key>sourceSize</key>
        <string>{45,29}</string>
      </dict>
      <key>combatboy_parts-combatboy_body4_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,89},{35,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,34}}</string>
        <key>sourceSize</key>
        <string>{35,34}</string>
      </dict>
      <key>combatboy_parts-combatboy_foot_R5_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,117},{16,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,21}}</string>
        <key>sourceSize</key>
        <string>{16,21}</string>
      </dict>
      <key>combatboy_parts-combatboy_thigh_L2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,0},{38,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,47}}</string>
        <key>sourceSize</key>
        <string>{38,47}</string>
      </dict>
      <key>combatboy_parts-combatboy_thigh_R2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,45},{44,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,34}}</string>
        <key>sourceSize</key>
        <string>{44,34}</string>
      </dict>
      <key>combatboy_parts-combatboy_foot_R2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,149},{28,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,21}}</string>
        <key>sourceSize</key>
        <string>{28,21}</string>
      </dict>
      <key>combatboy_parts-combatboy_shank_R2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,76},{27,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,50}}</string>
        <key>sourceSize</key>
        <string>{27,50}</string>
      </dict>
      <key>combatboy_parts-combatboy_arm_L5_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,89},{40,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,32}}</string>
        <key>sourceSize</key>
        <string>{40,32}</string>
      </dict>
      <key>combatboy_parts-combatboy_forearm_L2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,131},{34,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,24}}</string>
        <key>sourceSize</key>
        <string>{34,24}</string>
      </dict>
      <key>combatboy_parts-combatboy_hand_L2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,163},{20,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,19}}</string>
        <key>sourceSize</key>
        <string>{20,19}</string>
      </dict>
      <key>combatboy_head_2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,44},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>combatboy_face_tmp_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,43},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>combatboy_head_1_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,45},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>combatboy_parts-combatboy_body21_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{51,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,43}}</string>
        <key>sourceSize</key>
        <string>{51,43}</string>
      </dict>
      <key>combatboy_parts-combatboy_arm_L3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,97},{28,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
      <key>combatboy_parts-combatboy_body5_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,44},{36,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,46}}</string>
        <key>sourceSize</key>
        <string>{36,46}</string>
      </dict>
      <key>combatboy_parts-combatboy_body6_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,128},{34,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,24}}</string>
        <key>sourceSize</key>
        <string>{34,24}</string>
      </dict>
      <key>combatboy_parts-combatboy_thigh_L3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,52},{42,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,35}}</string>
        <key>sourceSize</key>
        <string>{42,35}</string>
      </dict>
      <key>combatboy_parts-combatboy_shank_L3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,158},{27,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,17}}</string>
        <key>sourceSize</key>
        <string>{27,17}</string>
      </dict>
      <key>combatboy_parts-combatboy_foot_L3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{21,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,18}}</string>
        <key>sourceSize</key>
        <string>{21,18}</string>
      </dict>
      <key>combatboy_parts-combatboy_shank_R3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,164},{22,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,14}}</string>
        <key>sourceSize</key>
        <string>{22,14}</string>
      </dict>
      <key>combatboy_parts-combatboy_foot_R3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,92},{14,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,15}}</string>
        <key>sourceSize</key>
        <string>{14,15}</string>
      </dict>
      <key>combatboy_parts-combatboy_thigh_R1_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,50},{43,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,34}}</string>
        <key>sourceSize</key>
        <string>{43,34}</string>
      </dict>
      <key>combatboy_parts-combatboy_hand_R4_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,140},{15,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,16}}</string>
        <key>sourceSize</key>
        <string>{15,16}</string>
      </dict>
      <key>combatboy_parts-combatboy_forearm_R4_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,146},{18,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,16}}</string>
        <key>sourceSize</key>
        <string>{18,16}</string>
      </dict>
      <key>combatboy_parts-combatboy_arm_R3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,81},{33,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,37}}</string>
        <key>sourceSize</key>
        <string>{33,37}</string>
      </dict>
      <key>combatboy_head_3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,47},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>combatboy_parts-combatboy_wing_L_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,43},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>combatboy_parts-combatboy_wing_R_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,44},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>combatboy_parts-combatboy_bomb_sample_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,0},{87,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,74}}</string>
        <key>sourceSize</key>
        <string>{87,74}</string>
      </dict>
      <key>combatboy_parts-combatboy_gun_sample_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{83,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,79}}</string>
        <key>sourceSize</key>
        <string>{83,79}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>combatboy_body_002.png</string>
      <key>textureFileName</key>
      <string>combatboy_body_002.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>