<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>attack_boy_parts-attack_boy_glass_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,666},{90,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,47}}</string>
        <key>sourceSize</key>
        <string>{90,47}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair1_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,391},{57,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,62}}</string>
        <key>sourceSize</key>
        <string>{57,62}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair2_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,586},{39,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,31}}</string>
        <key>sourceSize</key>
        <string>{39,31}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair3_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,391},{13,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,30}}</string>
        <key>sourceSize</key>
        <string>{13,30}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair4_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,623},{18,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,43}}</string>
        <key>sourceSize</key>
        <string>{18,43}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair5_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,265},{69,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,57}}</string>
        <key>sourceSize</key>
        <string>{69,57}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair6_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,324},{61,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,65}}</string>
        <key>sourceSize</key>
        <string>{61,65}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair7_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,544},{51,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,40}}</string>
        <key>sourceSize</key>
        <string>{51,40}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair9_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,580},{24,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,42}}</string>
        <key>sourceSize</key>
        <string>{24,42}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair10_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,652},{22,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,20}}</string>
        <key>sourceSize</key>
        <string>{22,20}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair11_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,627},{30,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,28}}</string>
        <key>sourceSize</key>
        <string>{30,28}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair12_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,586},{22,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,39}}</string>
        <key>sourceSize</key>
        <string>{22,39}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_face3_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,133},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_face2_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,199},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_face1_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,67},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hairshadow_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,628},{77,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,66}}</string>
        <key>sourceSize</key>
        <string>{77,66}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_ear_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1016,0},{6,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,6}}</string>
        <key>sourceSize</key>
        <string>{6,6}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_head_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,544},{89,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,92}}</string>
        <key>sourceSize</key>
        <string>{89,92}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair13_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,423},{12,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,28}}</string>
        <key>sourceSize</key>
        <string>{12,28}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair14_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,638},{22,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,29}}</string>
        <key>sourceSize</key>
        <string>{22,29}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair15_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,649},{18,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,32}}</string>
        <key>sourceSize</key>
        <string>{18,32}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hair16_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,324},{8,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,20}}</string>
        <key>sourceSize</key>
        <string>{8,20}</string>
      </dict>
      <key>attack_boy_parts-attack_miaozhun.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,567},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>attack_boy_parts-attack_touch_01_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,544},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>attack_boy_parts-attack_finger0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{371,507}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{371,507}}</string>
        <key>sourceSize</key>
        <string>{371,507}</string>
      </dict>
      <key>attack_boy_parts-attack_finger0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,0},{371,507}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{371,507}}</string>
        <key>sourceSize</key>
        <string>{371,507}</string>
      </dict>
      <key>attack_boy_parts-attack_zstb.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,624},{39,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,23}}</string>
        <key>sourceSize</key>
        <string>{39,23}</string>
      </dict>
      <key>attack_boy_parts-attack_photosphere_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,0},{65,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,65}}</string>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hand_L2_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,586},{37,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,35}}</string>
        <key>sourceSize</key>
        <string>{37,35}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_forearm_L2_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,589},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_gun_sample_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,547},{83,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,79}}</string>
        <key>sourceSize</key>
        <string>{83,79}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_arm_R2_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,539},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hand_R2_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,544},{17,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,21}}</string>
        <key>sourceSize</key>
        <string>{17,21}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_forearm_R2_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{808,638},{27,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,27}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_foot_R_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,619},{35,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,35}}</string>
        <key>sourceSize</key>
        <string>{35,35}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_body_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,455},{57,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,52}}</string>
        <key>sourceSize</key>
        <string>{57,52}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_skirt1_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,623},{36,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,27}}</string>
        <key>sourceSize</key>
        <string>{36,27}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_shank_R_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,442},{35,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,46}}</string>
        <key>sourceSize</key>
        <string>{35,46}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_thigh_R_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,388},{39,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,52}}</string>
        <key>sourceSize</key>
        <string>{39,52}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_arm_L2_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,547},{43,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,37}}</string>
        <key>sourceSize</key>
        <string>{43,37}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_hip_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,638},{34,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,22}}</string>
        <key>sourceSize</key>
        <string>{34,22}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_foot_L_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,649},{28,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,23}}</string>
        <key>sourceSize</key>
        <string>{28,23}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_thigh_L_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,490},{32,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,47}}</string>
        <key>sourceSize</key>
        <string>{32,47}</string>
      </dict>
      <key>attack_boy_parts-attack_boy_shank_L_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,547},{27,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,40}}</string>
        <key>sourceSize</key>
        <string>{27,40}</string>
      </dict>
      <key>attack_boy_parts-attack_monster.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,388},{157,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,157}}</string>
        <key>sourceSize</key>
        <string>{157,157}</string>
      </dict>
      <key>attack_boy_parts-attack_iphone1.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,509},{82,222}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,222}}</string>
        <key>sourceSize</key>
        <string>{82,222}</string>
      </dict>
      <key>attack_boy_parts-attack_iphone2.png</key>
      <dict>
        <key>frame</key>
        <string>{{935,509},{75,222}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,222}}</string>
        <key>sourceSize</key>
        <string>{75,222}</string>
      </dict>
      <key>attack_boy_parts-attack_iphone3.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,528},{283,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{283,14}}</string>
        <key>sourceSize</key>
        <string>{283,14}</string>
      </dict>
      <key>attack_boy_parts-attack_iphone4.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,509},{283,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{283,17}}</string>
        <key>sourceSize</key>
        <string>{283,17}</string>
      </dict>
      <key>attack_boy_parts-attack_bg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{574,386}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{574,386}}</string>
        <key>sourceSize</key>
        <string>{574,386}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>attack.png</string>
      <key>textureFileName</key>
      <string>attack.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>