<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fly_parts-fly_feiji.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,485},{58,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,53}}</string>
        <key>sourceSize</key>
        <string>{58,53}</string>
      </dict>
      <key>fly_parts-fly_miaozhun.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,485},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>fly_parts-fly_hud_photosphere_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,485},{106,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,106}}</string>
        <key>sourceSize</key>
        <string>{106,106}</string>
      </dict>
      <key>fly_parts-fly_hud_photosphere_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,485},{104,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,105}}</string>
        <key>sourceSize</key>
        <string>{104,105}</string>
      </dict>
      <key>fly_parts-fly_hud_photosphere_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,485},{105,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,106}}</string>
        <key>sourceSize</key>
        <string>{105,106}</string>
      </dict>
      <key>fly_parts-fly_hud_photosphere_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,434},{108,108}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,108}}</string>
        <key>sourceSize</key>
        <string>{108,108}</string>
      </dict>
      <key>fly_parts-fly_touch_01_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,434},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>fly_parts-move_finger0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,0},{181,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,228}}</string>
        <key>sourceSize</key>
        <string>{181,228}</string>
      </dict>
      <key>fly_parts-move_finger0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,455},{181,221}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,221}}</string>
        <key>sourceSize</key>
        <string>{181,221}</string>
      </dict>
      <key>fly_parts-move_finger0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,230},{181,223}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,223}}</string>
        <key>sourceSize</key>
        <string>{181,223}</string>
      </dict>
      <key>fly_parts-fly_zstb.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,592},{39,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,23}}</string>
        <key>sourceSize</key>
        <string>{39,23}</string>
      </dict>
      <key>fly_parts-fly_boy_forearm_L2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,430},{28,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,23}}</string>
        <key>sourceSize</key>
        <string>{28,23}</string>
      </dict>
      <key>fly_parts-fly_boy_hand_L2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,409},{18,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,19}}</string>
        <key>sourceSize</key>
        <string>{18,19}</string>
      </dict>
      <key>fly_parts-fly_boy_head_2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,485},{143,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,137}}</string>
        <key>sourceSize</key>
        <string>{143,137}</string>
      </dict>
      <key>fly_parts-fly_boy_arm_L3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,172},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>fly_parts-fly_boy_dress9_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,52},{30,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,40}}</string>
        <key>sourceSize</key>
        <string>{30,40}</string>
      </dict>
      <key>fly_parts-fly_boy_dress7_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,332},{8,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,33}}</string>
        <key>sourceSize</key>
        <string>{8,33}</string>
      </dict>
      <key>fly_parts-fly_boy_body5_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,556},{36,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,45}}</string>
        <key>sourceSize</key>
        <string>{36,45}</string>
      </dict>
      <key>fly_parts-fly_boy_body6_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,283},{31,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,23}}</string>
        <key>sourceSize</key>
        <string>{31,23}</string>
      </dict>
      <key>fly_parts-fly_boy_belt7_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,390},{7,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,19}}</string>
        <key>sourceSize</key>
        <string>{7,19}</string>
      </dict>
      <key>fly_parts-fly_boy_belt6_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,367},{13,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,20}}</string>
        <key>sourceSize</key>
        <string>{13,20}</string>
      </dict>
      <key>fly_parts-fly_boy_thigh_L3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,308},{31,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,22}}</string>
        <key>sourceSize</key>
        <string>{31,22}</string>
      </dict>
      <key>fly_parts-fly_boy_shank_L3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,478},{27,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,17}}</string>
        <key>sourceSize</key>
        <string>{27,17}</string>
      </dict>
      <key>fly_parts-fly_boy_foot_L3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,449},{19,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,17}}</string>
        <key>sourceSize</key>
        <string>{19,17}</string>
      </dict>
      <key>fly_parts-fly_boy_shank_R3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,486},{17,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,14}}</string>
        <key>sourceSize</key>
        <string>{17,14}</string>
      </dict>
      <key>fly_parts-fly_boy_foot_R3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,373},{13,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,15}}</string>
        <key>sourceSize</key>
        <string>{13,15}</string>
      </dict>
      <key>fly_parts-fly_boy_thigh_R1_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,593},{36,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,20}}</string>
        <key>sourceSize</key>
        <string>{36,20}</string>
      </dict>
      <key>fly_parts-fly_boy_hand_R4_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,497},{15,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,16}}</string>
        <key>sourceSize</key>
        <string>{15,16}</string>
      </dict>
      <key>fly_parts-fly_boy_forearm_R4_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,468},{18,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,16}}</string>
        <key>sourceSize</key>
        <string>{18,16}</string>
      </dict>
      <key>fly_parts-fly_boy_arm_R3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,211},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>fly_parts-fly_boy_arm_L2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,132},{25,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,38}}</string>
        <key>sourceSize</key>
        <string>{25,38}</string>
      </dict>
      <key>fly_parts-fly_boy_belt4_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,593},{43,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,12}}</string>
        <key>sourceSize</key>
        <string>{43,12}</string>
      </dict>
      <key>fly_parts-fly_boy_belt5_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,592},{41,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,19}}</string>
        <key>sourceSize</key>
        <string>{41,19}</string>
      </dict>
      <key>fly_parts-fly_boy_clothes1_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,503},{44,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,58}}</string>
        <key>sourceSize</key>
        <string>{44,58}</string>
      </dict>
      <key>fly_parts-fly_boy_thigh_L2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,94},{29,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,36}}</string>
        <key>sourceSize</key>
        <string>{29,36}</string>
      </dict>
      <key>fly_parts-fly_boy_foot_L2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,398},{25,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,24}}</string>
        <key>sourceSize</key>
        <string>{25,24}</string>
      </dict>
      <key>fly_parts-fly_boy_shank_L2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,556},{50,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,25}}</string>
        <key>sourceSize</key>
        <string>{50,25}</string>
      </dict>
      <key>fly_parts-fly_boy_hip2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,583},{41,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,26}}</string>
        <key>sourceSize</key>
        <string>{41,26}</string>
      </dict>
      <key>fly_parts-fly_boy_dress4_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,332},{14,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,39}}</string>
        <key>sourceSize</key>
        <string>{14,39}</string>
      </dict>
      <key>fly_parts-fly_boy_body3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,540},{39,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,51}}</string>
        <key>sourceSize</key>
        <string>{39,51}</string>
      </dict>
      <key>fly_parts-fly_boy_dress5_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,497},{10,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,13}}</string>
        <key>sourceSize</key>
        <string>{10,13}</string>
      </dict>
      <key>fly_parts-fly_boy_body4_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,563},{35,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,34}}</string>
        <key>sourceSize</key>
        <string>{35,34}</string>
      </dict>
      <key>fly_parts-fly_boy_thigh_R2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,556},{44,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,34}}</string>
        <key>sourceSize</key>
        <string>{44,34}</string>
      </dict>
      <key>fly_parts-fly_boy_foot_R2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,455},{28,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,21}}</string>
        <key>sourceSize</key>
        <string>{28,21}</string>
      </dict>
      <key>fly_parts-fly_boy_shank_R2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,0},{27,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,50}}</string>
        <key>sourceSize</key>
        <string>{27,50}</string>
      </dict>
      <key>fly_parts-fly_boy_dress6_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,424},{24,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,23}}</string>
        <key>sourceSize</key>
        <string>{24,23}</string>
      </dict>
      <key>fly_parts-fly_boy_hand_R2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,389},{17,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,18}}</string>
        <key>sourceSize</key>
        <string>{17,18}</string>
      </dict>
      <key>fly_parts-fly_boy_forearm_R2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,249},{27,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,32}}</string>
        <key>sourceSize</key>
        <string>{27,32}</string>
      </dict>
      <key>fly_parts-fly_boy_arm_R2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,592},{37,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,28}}</string>
        <key>sourceSize</key>
        <string>{37,28}</string>
      </dict>
      <key>fly_parts-fly_boy_gun_sample_000.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,544},{86,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,82}}</string>
        <key>sourceSize</key>
        <string>{86,82}</string>
      </dict>
      <key>fly_parts-shou2.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,0},{115,432}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,432}}</string>
        <key>sourceSize</key>
        <string>{115,432}</string>
      </dict>
      <key>fly_parts-shou1.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,0},{113,432}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,432}}</string>
        <key>sourceSize</key>
        <string>{113,432}</string>
      </dict>
      <key>fly_parts-shou3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,452},{545,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{545,31}}</string>
        <key>sourceSize</key>
        <string>{545,31}</string>
      </dict>
      <key>fly_parts-shou4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{545,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{545,52}}</string>
        <key>sourceSize</key>
        <string>{545,52}</string>
      </dict>
      <key>fly_parts-fly_bg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{573,396}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{573,396}}</string>
        <key>sourceSize</key>
        <string>{573,396}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>fly.png</string>
      <key>textureFileName</key>
      <string>fly.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>