<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>move_boy_parts-move_finger0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,468},{181,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,228}}</string>
        <key>sourceSize</key>
        <string>{181,228}</string>
      </dict>
      <key>move_boy_parts-move_finger0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,518},{181,221}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,221}}</string>
        <key>sourceSize</key>
        <string>{181,221}</string>
      </dict>
      <key>move_boy_parts-move_finger0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,468},{181,223}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,223}}</string>
        <key>sourceSize</key>
        <string>{181,223}</string>
      </dict>
      <key>move_boy_parts-move_touch_01_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,434},{120,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,120}}</string>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>move_boy_parts-move_photosphere_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,282},{65,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,65}}</string>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>move_boy_parts-move_photosphere_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,215},{65,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,65}}</string>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>move_boy_parts-move_photosphere_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,148},{65,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,65}}</string>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>move_boy_parts-move_photosphere_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,81},{65,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,65}}</string>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>move_boy_parts-move_forearm_L2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,468},{28,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,23}}</string>
        <key>sourceSize</key>
        <string>{28,23}</string>
      </dict>
      <key>move_boy_parts-move_hand_L2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,391},{18,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,19}}</string>
        <key>sourceSize</key>
        <string>{18,19}</string>
      </dict>
      <key>move_boy_parts-combatboy_head_2_01211.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,393},{143,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,137}}</string>
        <key>sourceSize</key>
        <string>{143,137}</string>
      </dict>
      <key>move_boy_parts-move_arm_L3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,391},{25,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,37}}</string>
        <key>sourceSize</key>
        <string>{25,37}</string>
      </dict>
      <key>move_boy_parts-move_dress9_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,349},{30,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,40}}</string>
        <key>sourceSize</key>
        <string>{30,40}</string>
      </dict>
      <key>move_boy_parts-move_dress7_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,81},{8,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,33}}</string>
        <key>sourceSize</key>
        <string>{8,33}</string>
      </dict>
      <key>move_boy_parts-move_body5_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,349},{36,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,45}}</string>
        <key>sourceSize</key>
        <string>{36,45}</string>
      </dict>
      <key>move_boy_parts-move_body6_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,434},{31,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,23}}</string>
        <key>sourceSize</key>
        <string>{31,23}</string>
      </dict>
      <key>move_boy_parts-move_belt7_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,173},{7,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,19}}</string>
        <key>sourceSize</key>
        <string>{7,19}</string>
      </dict>
      <key>move_boy_parts-move_belt6_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,116},{13,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,20}}</string>
        <key>sourceSize</key>
        <string>{13,20}</string>
      </dict>
      <key>move_boy_parts-move_thigh_L3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,459},{31,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,22}}</string>
        <key>sourceSize</key>
        <string>{31,22}</string>
      </dict>
      <key>move_boy_parts-move_shank_L3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,468},{27,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,17}}</string>
        <key>sourceSize</key>
        <string>{27,17}</string>
      </dict>
      <key>move_boy_parts-move_foot_L3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,430},{19,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,17}}</string>
        <key>sourceSize</key>
        <string>{19,17}</string>
      </dict>
      <key>move_boy_parts-move_shank_R3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,434},{17,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,14}}</string>
        <key>sourceSize</key>
        <string>{17,14}</string>
      </dict>
      <key>move_boy_parts-move_foot_R3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,156},{13,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,15}}</string>
        <key>sourceSize</key>
        <string>{13,15}</string>
      </dict>
      <key>move_boy_parts-move_thigh_R1_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,430},{36,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,20}}</string>
        <key>sourceSize</key>
        <string>{36,20}</string>
      </dict>
      <key>move_boy_parts-move_hand_R4_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,138},{15,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,16}}</string>
        <key>sourceSize</key>
        <string>{15,16}</string>
      </dict>
      <key>move_boy_parts-move_forearm_R4_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,412},{18,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,16}}</string>
        <key>sourceSize</key>
        <string>{18,16}</string>
      </dict>
      <key>move_boy_parts-move_arm_R3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,396},{24,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,36}}</string>
        <key>sourceSize</key>
        <string>{24,36}</string>
      </dict>
      <key>move_boy_parts-combatboy_head_3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,452},{85,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,64}}</string>
        <key>sourceSize</key>
        <string>{85,64}</string>
      </dict>
      <key>move_boy_parts-move_gun_sample_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,0},{83,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,79}}</string>
        <key>sourceSize</key>
        <string>{83,79}</string>
      </dict>
      <key>move_boy_parts-move_baoxiang.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,434},{88,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,69}}</string>
        <key>sourceSize</key>
        <string>{88,69}</string>
      </dict>
      <key>move_boy_parts-move_shouji1.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,0},{113,432}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{113,432}}</string>
        <key>sourceSize</key>
        <string>{113,432}</string>
      </dict>
      <key>move_boy_parts-move_shouji2.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,0},{115,432}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,432}}</string>
        <key>sourceSize</key>
        <string>{115,432}</string>
      </dict>
      <key>move_boy_parts-move_shouji4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,393},{545,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{545,40}}</string>
        <key>sourceSize</key>
        <string>{545,40}</string>
      </dict>
      <key>move_boy_parts-move_shouji3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,435},{545,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{545,31}}</string>
        <key>sourceSize</key>
        <string>{545,31}</string>
      </dict>
      <key>move_boy_parts-move_bg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{705,391}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{705,391}}</string>
        <key>sourceSize</key>
        <string>{705,391}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>move.png</string>
      <key>textureFileName</key>
      <string>move.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>