<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>teach_folder-teach001_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{393,0},{106,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{106,110}}</string>
    <key>sourceSize</key>
    <string>{106,110}</string>
   </dict>
   <key>teach_folder-teach001_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{478,112},{25,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,90}}</string>
    <key>sourceSize</key>
    <string>{25,90}</string>
   </dict>
   <key>teach_folder-teach001_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{370,423},{71,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,84}}</string>
    <key>sourceSize</key>
    <string>{71,84}</string>
   </dict>
   <key>teach_folder-teach001_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{297,423},{71,84}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{71,84}}</string>
    <key>sourceSize</key>
    <string>{71,84}</string>
   </dict>
   <key>teach_folder-teach002_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{243,141},{26,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,33}}</string>
    <key>sourceSize</key>
    <string>{26,33}</string>
   </dict>
   <key>teach_folder-teach002_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{338,509},{90,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{90,33}}</string>
    <key>sourceSize</key>
    <string>{90,33}</string>
   </dict>
   <key>teach_folder-teach002_09.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,516},{53,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,67}}</string>
    <key>sourceSize</key>
    <string>{53,67}</string>
   </dict>
   <key>teach_folder-teach002_08.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,469},{60,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,66}}</string>
    <key>sourceSize</key>
    <string>{60,66}</string>
   </dict>
   <key>teach_folder-teach002_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{275,509},{61,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{61,64}}</string>
    <key>sourceSize</key>
    <string>{61,64}</string>
   </dict>
   <key>teach_folder-teach002_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{80,441},{70,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,63}}</string>
    <key>sourceSize</key>
    <string>{70,63}</string>
   </dict>
   <key>teach_folder-teach002_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,275},{87,107}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{87,107}}</string>
    <key>sourceSize</key>
    <string>{87,107}</string>
   </dict>
   <key>teach_folder-teach002_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{138,141},{103,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{103,101}}</string>
    <key>sourceSize</key>
    <string>{103,101}</string>
   </dict>
   <key>teach_folder-teach002_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,384},{78,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,83}}</string>
    <key>sourceSize</key>
    <string>{78,83}</string>
   </dict>
   <key>teach_folder-teach002_07.png</key>
   <dict>
    <key>frame</key>
    <string>{{138,0},{131,139}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{131,139}}</string>
    <key>sourceSize</key>
    <string>{131,139}</string>
   </dict>
   <key>teach_folder-teach001_21.png</key>
   <dict>
    <key>frame</key>
    <string>{{271,0},{120,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{120,109}}</string>
    <key>sourceSize</key>
    <string>{120,109}</string>
   </dict>
   <key>teach_folder-teach001_26.png</key>
   <dict>
    <key>frame</key>
    <string>{{443,424},{65,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{65,90}}</string>
    <key>sourceSize</key>
    <string>{65,90}</string>
   </dict>
   <key>teach_folder-teach001_25.png</key>
   <dict>
    <key>frame</key>
    <string>{{219,433},{54,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,99}}</string>
    <key>sourceSize</key>
    <string>{54,99}</string>
   </dict>
   <key>teach_folder-teach001_24.png</key>
   <dict>
    <key>frame</key>
    <string>{{89,344},{68,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,95}}</string>
    <key>sourceSize</key>
    <string>{68,95}</string>
   </dict>
   <key>teach_folder-teach001_23.png</key>
   <dict>
    <key>frame</key>
    <string>{{446,323},{58,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,99}}</string>
    <key>sourceSize</key>
    <string>{58,99}</string>
   </dict>
   <key>teach_folder-teach001_22.png</key>
   <dict>
    <key>frame</key>
    <string>{{159,433},{58,96}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,96}}</string>
    <key>sourceSize</key>
    <string>{58,96}</string>
   </dict>
   <key>teach_folder-teach001_20.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{136,160}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{136,160}}</string>
    <key>sourceSize</key>
    <string>{136,160}</string>
   </dict>
   <key>teach_folder-teach002_50.png</key>
   <dict>
    <key>frame</key>
    <string>{{62,506},{79,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{79,56}}</string>
    <key>sourceSize</key>
    <string>{79,56}</string>
   </dict>
   <key>teach_folder-teach002_38.png</key>
   <dict>
    <key>frame</key>
    <string>{{243,228},{98,103}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,103}}</string>
    <key>sourceSize</key>
    <string>{98,103}</string>
   </dict>
   <key>teach_folder-teach002_37.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,112},{104,109}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,109}}</string>
    <key>sourceSize</key>
    <string>{104,109}</string>
   </dict>
   <key>teach_folder-teach002_36.png</key>
   <dict>
    <key>frame</key>
    <string>{{271,111},{99,115}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{99,115}}</string>
    <key>sourceSize</key>
    <string>{99,115}</string>
   </dict>
   <key>teach_folder-teach002_35.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,162},{92,111}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{92,111}}</string>
    <key>sourceSize</key>
    <string>{92,111}</string>
   </dict>
   <key>teach_folder-teach002_34.png</key>
   <dict>
    <key>frame</key>
    <string>{{197,333},{98,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{98,98}}</string>
    <key>sourceSize</key>
    <string>{98,98}</string>
   </dict>
   <key>teach_folder-teach002_33.png</key>
   <dict>
    <key>frame</key>
    <string>{{372,223},{104,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{104,98}}</string>
    <key>sourceSize</key>
    <string>{104,98}</string>
   </dict>
   <key>teach_folder-teach002_32.png</key>
   <dict>
    <key>frame</key>
    <string>{{94,244},{101,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,98}}</string>
    <key>sourceSize</key>
    <string>{101,98}</string>
   </dict>
   <key>teach_folder-teach002_31.png</key>
   <dict>
    <key>frame</key>
    <string>{{343,323},{101,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{101,98}}</string>
    <key>sourceSize</key>
    <string>{101,98}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>teach.png</string>
   <key>textureFileName</key>
   <string>teach.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>