<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>zhiyin_yidong_guangbiao_01_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,178},{88,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>zhiyin_yidong_guangbiao_01_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{88,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>zhiyin_yidong_guangbiao_01_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,92},{88,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>zhiyin_yidong_guangbiao_01_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,178},{88,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>zhiyin_yidong_guangbiao_01_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,92},{88,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>zhiyin_yidong_guangbiao_01_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,92},{88,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>zhiyin_yidong_guangbiao_01_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,92},{88,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>zhiyin_yidong_guangbiao_01_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,92},{88,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,84}}</string>
        <key>sourceSize</key>
        <string>{88,84}</string>
      </dict>
      <key>zhiyin_yidong_di_01_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{216,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,90}}</string>
        <key>sourceSize</key>
        <string>{216,90}</string>
      </dict>
      <key>zhiyin_yidong_di_01_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{216,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,90}}</string>
        <key>sourceSize</key>
        <string>{216,90}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>zhiyin_yidong_tishi_01.png</string>
      <key>textureFileName</key>
      <string>zhiyin_yidong_tishi_01.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>