<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>defeated_parts-anguang2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{372,264}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{372,264}}</string>
    <key>sourceSize</key>
    <string>{372,264}</string>
   </dict>
   <key>defeated_images-liewen.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,266},{286,164}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{286,164}}</string>
    <key>sourceSize</key>
    <string>{286,164}</string>
   </dict>
   <key>defeated_images-stone10.png.png</key>
   <dict>
    <key>frame</key>
    <string>{{1012,175},{10,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,17}}</string>
    <key>sourceSize</key>
    <string>{10,17}</string>
   </dict>
   <key>defeated_images-stone9.png.png</key>
   <dict>
    <key>frame</key>
    <string>{{1012,115},{10,58}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{10,58}}</string>
    <key>sourceSize</key>
    <string>{10,58}</string>
   </dict>
   <key>defeated_images-stone8.png.png</key>
   <dict>
    <key>frame</key>
    <string>{{975,0},{14,138}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,138}}</string>
    <key>sourceSize</key>
    <string>{14,138}</string>
   </dict>
   <key>defeated_images-stone7.png.png</key>
   <dict>
    <key>frame</key>
    <string>{{991,0},{22,113}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,113}}</string>
    <key>sourceSize</key>
    <string>{22,113}</string>
   </dict>
   <key>defeated_images-stone6.png.png</key>
   <dict>
    <key>frame</key>
    <string>{{876,198},{21,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,85}}</string>
    <key>sourceSize</key>
    <string>{21,85}</string>
   </dict>
   <key>defeated_images-stone5.png.png</key>
   <dict>
    <key>frame</key>
    <string>{{975,140},{13,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,90}}</string>
    <key>sourceSize</key>
    <string>{13,90}</string>
   </dict>
   <key>defeated_images-stone4.png.png</key>
   <dict>
    <key>frame</key>
    <string>{{991,115},{19,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,101}}</string>
    <key>sourceSize</key>
    <string>{19,101}</string>
   </dict>
   <key>defeated_images-stone3.png.png</key>
   <dict>
    <key>frame</key>
    <string>{{720,188},{14,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,86}}</string>
    <key>sourceSize</key>
    <string>{14,86}</string>
   </dict>
   <key>defeated_images-stone2.png.png</key>
   <dict>
    <key>frame</key>
    <string>{{899,198},{14,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,30}}</string>
    <key>sourceSize</key>
    <string>{14,30}</string>
   </dict>
   <key>defeated_images-stone1.png.png</key>
   <dict>
    <key>frame</key>
    <string>{{915,198},{12,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,25}}</string>
    <key>sourceSize</key>
    <string>{12,25}</string>
   </dict>
   <key>defeated_parts-defeated_zi.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,188},{344,136}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{344,136}}</string>
    <key>sourceSize</key>
    <string>{344,136}</string>
   </dict>
   <key>defeated_parts-defeated_wang.png</key>
   <dict>
    <key>frame</key>
    <string>{{374,0},{366,186}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{366,186}}</string>
    <key>sourceSize</key>
    <string>{366,186}</string>
   </dict>
   <key>defeated_parts-defeated_labaR.png</key>
   <dict>
    <key>frame</key>
    <string>{{736,198},{138,117}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{138,117}}</string>
    <key>sourceSize</key>
    <string>{138,117}</string>
   </dict>
   <key>defeated_parts-defeated_labaL.png</key>
   <dict>
    <key>frame</key>
    <string>{{876,285},{138,113}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{138,113}}</string>
    <key>sourceSize</key>
    <string>{138,113}</string>
   </dict>
   <key>defeated_parts-defeated_wangguan.png</key>
   <dict>
    <key>frame</key>
    <string>{{742,0},{231,196}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{231,196}}</string>
    <key>sourceSize</key>
    <string>{231,196}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>defeated.png</string>
   <key>textureFileName</key>
   <string>defeated.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>