<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>common_icon_yldx_parts-common_icon_yidx6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{27,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,5}}</string>
    <key>sourceSize</key>
    <string>{27,5}</string>
   </dict>
   <key>common_icon_yldx_parts-common_icon_yidx5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,7},{23,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,5}}</string>
    <key>sourceSize</key>
    <string>{23,5}</string>
   </dict>
   <key>common_icon_yldx_parts-common_icon_yidx4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,14},{21,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,5}}</string>
    <key>sourceSize</key>
    <string>{21,5}</string>
   </dict>
   <key>common_icon_yldx_parts-common_icon_yidx3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,21},{19,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,5}}</string>
    <key>sourceSize</key>
    <string>{19,5}</string>
   </dict>
   <key>common_icon_yldx_parts-common_icon_yidx2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,28},{17,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,5}}</string>
    <key>sourceSize</key>
    <string>{17,5}</string>
   </dict>
   <key>common_icon_yldx_parts-common_icon_yidx1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,35},{15,5}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{15,5}}</string>
    <key>sourceSize</key>
    <string>{15,5}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>common_icon_yidx.png</string>
   <key>textureFileName</key>
   <string>common_icon_yidx.png</string>
   <key>size</key>
   <string>{32,64}</string>
  </dict>
 </dict>
</plist>