<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skills_sdhm_01_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{240,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,70}}</string>
        <key>sourceSize</key>
        <string>{240,70}</string>
      </dict>
      <key>skills_sdhm_01_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,72},{240,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,70}}</string>
        <key>sourceSize</key>
        <string>{240,70}</string>
      </dict>
      <key>skills_sdhm_01_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,216},{240,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,70}}</string>
        <key>sourceSize</key>
        <string>{240,70}</string>
      </dict>
      <key>skills_sdhm_01_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,144},{240,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,70}}</string>
        <key>sourceSize</key>
        <string>{240,70}</string>
      </dict>
      <key>skills_sdhm_01_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{240,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,70}}</string>
        <key>sourceSize</key>
        <string>{240,70}</string>
      </dict>
      <key>skills_sdhm_01_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{240,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,70}}</string>
        <key>sourceSize</key>
        <string>{240,70}</string>
      </dict>
      <key>skills_sdhm_01_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,72},{240,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,70}}</string>
        <key>sourceSize</key>
        <string>{240,70}</string>
      </dict>
      <key>skills_sdhm_01_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,144},{240,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,70}}</string>
        <key>sourceSize</key>
        <string>{240,70}</string>
      </dict>
      <key>skills_sdhm_01_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{240,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{240,70}}</string>
        <key>sourceSize</key>
        <string>{240,70}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skills_sdhm_01.png</string>
      <key>textureFileName</key>
      <string>skills_sdhm_01.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>