<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sword_parts-skills_jzd_01_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>sword_parts-skills_jzd_01_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>sword_parts-skills_jzd_01_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,102},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>sword_parts-skills_jzd_01_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
      <key>sword_parts-skills_jzd_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>sword_parts-skills_jzd_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,38},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skills_jzd_01.png</string>
      <key>textureFileName</key>
      <string>skills_jzd_01.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>