<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skills_jhcj_jgd_01_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,0},{320,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{320,380}}</string>
        <key>sourceSize</key>
        <string>{320,380}</string>
      </dict>
      <key>skills_jhcj_jgd_01_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,382},{320,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{320,380}}</string>
        <key>sourceSize</key>
        <string>{320,380}</string>
      </dict>
      <key>skills_jhcj_jgd_01_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,382},{320,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{320,380}}</string>
        <key>sourceSize</key>
        <string>{320,380}</string>
      </dict>
      <key>skills_jhcj_jgd_01_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{320,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{320,380}}</string>
        <key>sourceSize</key>
        <string>{320,380}</string>
      </dict>
      <key>skills_jhcj_jgd_01_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{320,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{320,380}}</string>
        <key>sourceSize</key>
        <string>{320,380}</string>
      </dict>
      <key>skills_jhcj_jgd_01_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{320,380}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{320,380}}</string>
        <key>sourceSize</key>
        <string>{320,380}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skills_jhcj_jgd_01.png</string>
      <key>textureFileName</key>
      <string>skills_jhcj_jgd_01.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>