<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>dan_linelight_00.png</key>
   <dict>
    <key>frame</key>
    <string>{{659,0},{250,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{250,50}}</string>
    <key>sourceSize</key>
    <string>{250,50}</string>
   </dict>
   <key>ui_chongwu_danke_03_07.png</key>
   <dict>
    <key>frame</key>
    <string>{{280,241},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_02_07.png</key>
   <dict>
    <key>frame</key>
    <string>{{210,241},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_01_07.png</key>
   <dict>
    <key>frame</key>
    <string>{{736,223},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_03_06.png</key>
   <dict>
    <key>frame</key>
    <string>{{596,223},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_02_06.png</key>
   <dict>
    <key>frame</key>
    <string>{{876,216},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_01_06.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,214},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_03_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{70,172},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_02_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{666,151},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_01_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{881,72},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_03_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{350,241},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_02_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{811,124},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_01_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{526,214},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_03_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{526,142},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_02_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{140,241},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_01_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,144},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_03_08.png</key>
   <dict>
    <key>frame</key>
    <string>{{946,216},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_02_08.png</key>
   <dict>
    <key>frame</key>
    <string>{{911,0},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_01_08.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,244},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_03_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,172},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_02_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{666,223},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_01_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{806,196},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_03_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{811,52},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_02_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,72},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_01_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{456,142},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_03_00.png</key>
   <dict>
    <key>frame</key>
    <string>{{881,144},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_02_00.png</key>
   <dict>
    <key>frame</key>
    <string>{{596,151},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>ui_chongwu_danke_01_00.png</key>
   <dict>
    <key>frame</key>
    <string>{{736,151},{68,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,70}}</string>
    <key>sourceSize</key>
    <string>{68,70}</string>
   </dict>
   <key>dan_ding_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,0},{167,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,140}}</string>
    <key>sourceSize</key>
    <string>{167,140}</string>
   </dict>
   <key>dan_ding_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{321,0},{167,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,140}}</string>
    <key>sourceSize</key>
    <string>{167,140}</string>
   </dict>
   <key>dan_ding_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{490,0},{167,140}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{167,140}}</string>
    <key>sourceSize</key>
    <string>{167,140}</string>
   </dict>
   <key>dan_di_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{659,52},{150,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,97}}</string>
    <key>sourceSize</key>
    <string>{150,97}</string>
   </dict>
   <key>dan_di_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{304,142},{150,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,97}}</string>
    <key>sourceSize</key>
    <string>{150,97}</string>
   </dict>
   <key>dan_di_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{152,142},{150,97}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,97}}</string>
    <key>sourceSize</key>
    <string>{150,97}</string>
   </dict>
   <key>dan_light_00.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{150,170}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{150,170}}</string>
    <key>sourceSize</key>
    <string>{150,170}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>ui_chongwu_huode_01.png</string>
   <key>textureFileName</key>
   <string>ui_chongwu_huode_01.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>