<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ui_duanzao_jicheng_01_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,635},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
   <key>ui_duanzao_jicheng_01_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,127},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
   <key>ui_duanzao_jicheng_01_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,508},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
   <key>ui_duanzao_jicheng_01_09.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,254},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
   <key>ui_duanzao_jicheng_01_08.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,762},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
   <key>ui_duanzao_jicheng_01_07.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,381},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
   <key>ui_duanzao_jicheng_01_06.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
   <key>ui_duanzao_jicheng_01_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,0},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
   <key>ui_duanzao_jicheng_01_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,127},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
   <key>ui_duanzao_jicheng_01_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,254},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
   <key>ui_duanzao_jicheng_01_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,381},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
   <key>ui_duanzao_jicheng_01_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{375,508},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
   <key>ui_duanzao_jicheng_01_00.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,635},{373,125}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{373,125}}</string>
    <key>sourceSize</key>
    <string>{373,125}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>ui_duanzao_jicheng_01.png</string>
   <key>textureFileName</key>
   <string>ui_duanzao_jicheng_01.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>