<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>ui_shuzhi_tili_smoke_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,103},{54,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,38}}</string>
    <key>sourceSize</key>
    <string>{54,38}</string>
   </dict>
   <key>ui_shuzhi_tili_smoke_00.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,143},{54,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,38}}</string>
    <key>sourceSize</key>
    <string>{54,38}</string>
   </dict>
   <key>ui_shuzhi_tili_smoke_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{444,103},{54,38}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{54,38}}</string>
    <key>sourceSize</key>
    <string>{54,38}</string>
   </dict>
   <key>ui_shuzhi_tili_fire_08.png</key>
   <dict>
    <key>frame</key>
    <string>{{388,0},{95,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,101}}</string>
    <key>sourceSize</key>
    <string>{95,101}</string>
   </dict>
   <key>ui_shuzhi_tili_fire_07.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,103},{95,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,101}}</string>
    <key>sourceSize</key>
    <string>{95,101}</string>
   </dict>
   <key>ui_shuzhi_tili_fire_06.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,0},{95,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,101}}</string>
    <key>sourceSize</key>
    <string>{95,101}</string>
   </dict>
   <key>ui_shuzhi_tili_fire_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{95,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,101}}</string>
    <key>sourceSize</key>
    <string>{95,101}</string>
   </dict>
   <key>ui_shuzhi_tili_fire_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,103},{95,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,101}}</string>
    <key>sourceSize</key>
    <string>{95,101}</string>
   </dict>
   <key>ui_shuzhi_tili_fire_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,103},{95,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,101}}</string>
    <key>sourceSize</key>
    <string>{95,101}</string>
   </dict>
   <key>ui_shuzhi_tili_fire_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,0},{95,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,101}}</string>
    <key>sourceSize</key>
    <string>{95,101}</string>
   </dict>
   <key>ui_shuzhi_tili_fire_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{291,0},{95,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,101}}</string>
    <key>sourceSize</key>
    <string>{95,101}</string>
   </dict>
   <key>ui_shuzhi_tili_fire_00.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,103},{95,101}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,101}}</string>
    <key>sourceSize</key>
    <string>{95,101}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>ui_shuzhi_tili.png</string>
   <key>textureFileName</key>
   <string>ui_shuzhi_tili.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>