<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ui_tongyong_anniu_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,0},{296,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,120}}</string>
        <key>sourceSize</key>
        <string>{296,120}</string>
      </dict>
      <key>ui_tongyong_anniu_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,244},{296,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,120}}</string>
        <key>sourceSize</key>
        <string>{296,120}</string>
      </dict>
      <key>ui_tongyong_anniu_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,122},{296,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,120}}</string>
        <key>sourceSize</key>
        <string>{296,120}</string>
      </dict>
      <key>ui_tongyong_anniu_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,366},{296,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,120}}</string>
        <key>sourceSize</key>
        <string>{296,120}</string>
      </dict>
      <key>ui_tongyong_anniu_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,122},{296,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,120}}</string>
        <key>sourceSize</key>
        <string>{296,120}</string>
      </dict>
      <key>ui_tongyong_anniu_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,366},{296,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,120}}</string>
        <key>sourceSize</key>
        <string>{296,120}</string>
      </dict>
      <key>ui_tongyong_anniu_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{296,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,120}}</string>
        <key>sourceSize</key>
        <string>{296,120}</string>
      </dict>
      <key>ui_tongyong_anniu_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,0},{296,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,120}}</string>
        <key>sourceSize</key>
        <string>{296,120}</string>
      </dict>
      <key>ui_tongyong_anniu_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,122},{296,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,120}}</string>
        <key>sourceSize</key>
        <string>{296,120}</string>
      </dict>
      <key>ui_tongyong_anniu_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{296,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,120}}</string>
        <key>sourceSize</key>
        <string>{296,120}</string>
      </dict>
      <key>ui_tongyong_anniu_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,244},{296,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,120}}</string>
        <key>sourceSize</key>
        <string>{296,120}</string>
      </dict>
      <key>ui_tongyong_anniu_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,366},{296,120}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{296,120}}</string>
        <key>sourceSize</key>
        <string>{296,120}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ui_tongyong_anniu.png</string>
      <key>textureFileName</key>
      <string>ui_tongyong_anniu.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>