<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>parts-common_icon_fxjiant.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{15,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,14}}</string>
        <key>sourceSize</key>
        <string>{15,14}</string>
      </dict>
      <key>parts-common_icon_xuanfengdi1.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,0},{64,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,56}}</string>
        <key>sourceSize</key>
        <string>{64,56}</string>
      </dict>
      <key>parts-common_icon_xuanfengdi.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{132,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,60}}</string>
        <key>sourceSize</key>
        <string>{132,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>common_icon_xf.png</string>
      <key>textureFileName</key>
      <string>common_icon_xf.png</string>
      <key>size</key>
      <string>{256,64}</string>
    </dict>
  </dict>
</plist>