<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>combatboy_parts-combatboy_facial_001_hs001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{99,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,111}}</string>
        <key>sourceSize</key>
        <string>{99,111}</string>
      </dict>
      <key>combatboy_parts-combatboy_hair1_001_hs001.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,0},{110,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,65}}</string>
        <key>sourceSize</key>
        <string>{110,65}</string>
      </dict>
      <key>combatboy_parts-combatboy_yezi5_001_hs001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>combatboy_face.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,0},{3,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,4}}</string>
        <key>sourceSize</key>
        <string>{3,4}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>combatboy_head_001_hs001.png</string>
      <key>textureFileName</key>
      <string>combatboy_head_001_hs001.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>