<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>combatboy_parts-combatboy_face11_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{61,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,56}}</string>
        <key>sourceSize</key>
        <string>{61,56}</string>
      </dict>
      <key>combatboy_parts-combatboy_face10_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,124},{64,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,52}}</string>
        <key>sourceSize</key>
        <string>{64,52}</string>
      </dict>
      <key>combatboy_parts-combatboy_face5_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>combatboy_parts-combatboy_face4_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,175},{58,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,53}}</string>
        <key>sourceSize</key>
        <string>{58,53}</string>
      </dict>
      <key>combatboy_parts-combatboy_face6_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,175},{65,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,50}}</string>
        <key>sourceSize</key>
        <string>{65,50}</string>
      </dict>
      <key>combatboy_parts-combatboy_face8_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{71,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,56}}</string>
        <key>sourceSize</key>
        <string>{71,56}</string>
      </dict>
      <key>combatboy_parts-combatboy_face7_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,120},{65,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,53}}</string>
        <key>sourceSize</key>
        <string>{65,53}</string>
      </dict>
      <key>combatboy_parts-combatboy_face9_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>combatboy_parts-combatboy_face3_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,62},{64,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,60}}</string>
        <key>sourceSize</key>
        <string>{64,60}</string>
      </dict>
      <key>combatboy_parts-combatboy_face2_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,62},{66,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,60}}</string>
        <key>sourceSize</key>
        <string>{66,60}</string>
      </dict>
      <key>combatboy_parts-combatboy_face1_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,58},{67,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,60}}</string>
        <key>sourceSize</key>
        <string>{67,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>combatboy_face_001.png</string>
      <key>textureFileName</key>
      <string>combatboy_face_001.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>