<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-boss_bullet_FX_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{301,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,169}}</string>
        <key>sourceSize</key>
        <string>{301,169}</string>
      </dict>
      <key>bullet_parts-boss_bullet_FX_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,513},{301,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,169}}</string>
        <key>sourceSize</key>
        <string>{301,169}</string>
      </dict>
      <key>bullet_parts-boss_bullet_FX_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{301,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,169}}</string>
        <key>sourceSize</key>
        <string>{301,169}</string>
      </dict>
      <key>bullet_parts-boss_bullet_FX_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,342},{301,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,169}}</string>
        <key>sourceSize</key>
        <string>{301,169}</string>
      </dict>
      <key>bullet_parts-boss_bullet_FX_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,171},{301,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,169}}</string>
        <key>sourceSize</key>
        <string>{301,169}</string>
      </dict>
      <key>bullet_parts-boss_bullet_FX_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{301,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,169}}</string>
        <key>sourceSize</key>
        <string>{301,169}</string>
      </dict>
      <key>bullet_parts-boss_bullet_FX_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,0},{301,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,169}}</string>
        <key>sourceSize</key>
        <string>{301,169}</string>
      </dict>
      <key>bullet_parts-boss_bullet_FX_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,171},{301,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,169}}</string>
        <key>sourceSize</key>
        <string>{301,169}</string>
      </dict>
      <key>bullet_parts-boss_bullet_FX_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,342},{301,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,169}}</string>
        <key>sourceSize</key>
        <string>{301,169}</string>
      </dict>
      <key>bullet_parts-boss_bullet_FX_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,342},{301,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,169}}</string>
        <key>sourceSize</key>
        <string>{301,169}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0120.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0120.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>