<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-FX_141_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,0},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,432},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,108},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,432},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,216},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,0},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,108},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,216},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,324},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
      <key>bullet_parts-FX_141_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,324},{277,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{277,106}}</string>
        <key>sourceSize</key>
        <string>{277,106}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0141.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0141.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>