<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-FX_112_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{167,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,106}}</string>
        <key>sourceSize</key>
        <string>{167,106}</string>
      </dict>
      <key>bullet_parts-FX_112_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{167,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,106}}</string>
        <key>sourceSize</key>
        <string>{167,106}</string>
      </dict>
      <key>bullet_parts-FX_112_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{167,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,106}}</string>
        <key>sourceSize</key>
        <string>{167,106}</string>
      </dict>
      <key>bullet_parts-FX_112_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,216},{167,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,106}}</string>
        <key>sourceSize</key>
        <string>{167,106}</string>
      </dict>
      <key>bullet_parts-FX_112_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,108},{167,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,106}}</string>
        <key>sourceSize</key>
        <string>{167,106}</string>
      </dict>
      <key>bullet_parts-FX_112_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{167,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,106}}</string>
        <key>sourceSize</key>
        <string>{167,106}</string>
      </dict>
      <key>bullet_parts-FX_112_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,0},{167,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,106}}</string>
        <key>sourceSize</key>
        <string>{167,106}</string>
      </dict>
      <key>bullet_parts-FX_112_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,108},{167,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,106}}</string>
        <key>sourceSize</key>
        <string>{167,106}</string>
      </dict>
      <key>bullet_parts-FX_112_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{167,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,106}}</string>
        <key>sourceSize</key>
        <string>{167,106}</string>
      </dict>
      <key>bullet_parts-FX_112_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,216},{167,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,106}}</string>
        <key>sourceSize</key>
        <string>{167,106}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0112.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0112.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>