<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_1009_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{270,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,160}}</string>
        <key>sourceSize</key>
        <string>{270,160}</string>
      </dict>
      <key>bullet_1009_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{270,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,160}}</string>
        <key>sourceSize</key>
        <string>{270,160}</string>
      </dict>
      <key>bullet_1009_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{270,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,160}}</string>
        <key>sourceSize</key>
        <string>{270,160}</string>
      </dict>
      <key>bullet_1009_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,324},{270,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,160}}</string>
        <key>sourceSize</key>
        <string>{270,160}</string>
      </dict>
      <key>bullet_1009_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{270,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,160}}</string>
        <key>sourceSize</key>
        <string>{270,160}</string>
      </dict>
      <key>bullet_1009_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,0},{270,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,160}}</string>
        <key>sourceSize</key>
        <string>{270,160}</string>
      </dict>
      <key>bullet_1009_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,162},{270,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,160}}</string>
        <key>sourceSize</key>
        <string>{270,160}</string>
      </dict>
      <key>bullet_1009_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,162},{270,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,160}}</string>
        <key>sourceSize</key>
        <string>{270,160}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_1009.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_1009.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>