<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-FX_0117B_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{326,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,157}}</string>
        <key>sourceSize</key>
        <string>{326,157}</string>
      </dict>
      <key>bullet_parts-FX_0117B_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,318},{326,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,157}}</string>
        <key>sourceSize</key>
        <string>{326,157}</string>
      </dict>
      <key>bullet_parts-FX_0117B_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{326,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,157}}</string>
        <key>sourceSize</key>
        <string>{326,157}</string>
      </dict>
      <key>bullet_parts-FX_0117B_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,477},{326,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,157}}</string>
        <key>sourceSize</key>
        <string>{326,157}</string>
      </dict>
      <key>bullet_parts-FX_0117B_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,159},{326,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,157}}</string>
        <key>sourceSize</key>
        <string>{326,157}</string>
      </dict>
      <key>bullet_parts-FX_0117B_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,477},{326,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,157}}</string>
        <key>sourceSize</key>
        <string>{326,157}</string>
      </dict>
      <key>bullet_parts-FX_0117B_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{326,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,157}}</string>
        <key>sourceSize</key>
        <string>{326,157}</string>
      </dict>
      <key>bullet_parts-FX_0117B_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,0},{326,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,157}}</string>
        <key>sourceSize</key>
        <string>{326,157}</string>
      </dict>
      <key>bullet_parts-FX_0117B_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,159},{326,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,157}}</string>
        <key>sourceSize</key>
        <string>{326,157}</string>
      </dict>
      <key>bullet_parts-FX_0117B_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,318},{326,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,157}}</string>
        <key>sourceSize</key>
        <string>{326,157}</string>
      </dict>
      <key>bullet_parts-FX_0117B_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,318},{326,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,157}}</string>
        <key>sourceSize</key>
        <string>{326,157}</string>
      </dict>
      <key>bullet_parts-FX_0117B_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,477},{326,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{326,157}}</string>
        <key>sourceSize</key>
        <string>{326,157}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0117_B.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0117_B.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>