<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>0154_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,318},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,0},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,636},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,159},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,477},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,318},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,636},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,0},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,159},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,318},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,477},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,477},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
      <key>0154_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,636},{313,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{313,157}}</string>
        <key>sourceSize</key>
        <string>{313,157}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0154.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0154.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>