<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>FX_145_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{293,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,230}}</string>
        <key>sourceSize</key>
        <string>{293,230}</string>
      </dict>
      <key>FX_145_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,464},{293,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,230}}</string>
        <key>sourceSize</key>
        <string>{293,230}</string>
      </dict>
      <key>FX_145_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{293,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,230}}</string>
        <key>sourceSize</key>
        <string>{293,230}</string>
      </dict>
      <key>FX_145_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,464},{293,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,230}}</string>
        <key>sourceSize</key>
        <string>{293,230}</string>
      </dict>
      <key>FX_145_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{293,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,230}}</string>
        <key>sourceSize</key>
        <string>{293,230}</string>
      </dict>
      <key>FX_145_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,0},{293,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,230}}</string>
        <key>sourceSize</key>
        <string>{293,230}</string>
      </dict>
      <key>FX_145_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,232},{293,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,230}}</string>
        <key>sourceSize</key>
        <string>{293,230}</string>
      </dict>
      <key>FX_145_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,232},{293,230}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{293,230}}</string>
        <key>sourceSize</key>
        <string>{293,230}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0145.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0145.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>