<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-zd103_s15.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,184},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s14.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s13.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,368},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s12.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,92},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s11.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,276},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,184},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,368},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,92},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,92},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,184},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,276},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,276},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
      <key>bullet_parts-zd103_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,368},{161,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,90}}</string>
        <key>sourceSize</key>
        <string>{161,90}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0103.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0103.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>