<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-FX_0119_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,250},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,0},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,500},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,125},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,375},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,500},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,125},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,125},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,250},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,375},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,375},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
      <key>bullet_parts-FX_0119_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,500},{270,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{270,123}}</string>
        <key>sourceSize</key>
        <string>{270,123}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0119.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0119.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>