<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-bullet_0147_o15.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,146},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o14.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o13.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,292},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o12.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,0},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o11.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,146},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o9.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,292},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o7.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o6.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o5.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,0},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o4.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,146},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o3.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,146},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o2.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,146},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>bullet_parts-bullet_0147_o1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{162,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0147.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0147.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>