<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-qq.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,225},{134,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,74}}</string>
        <key>sourceSize</key>
        <string>{134,74}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0098_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,0},{149,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,73}}</string>
        <key>sourceSize</key>
        <string>{149,73}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0098_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{149,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,73}}</string>
        <key>sourceSize</key>
        <string>{149,73}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0098_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,75},{149,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,73}}</string>
        <key>sourceSize</key>
        <string>{149,73}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0098_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,225},{149,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,73}}</string>
        <key>sourceSize</key>
        <string>{149,73}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0098_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{149,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,73}}</string>
        <key>sourceSize</key>
        <string>{149,73}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0098_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{149,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,73}}</string>
        <key>sourceSize</key>
        <string>{149,73}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0098_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,75},{149,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,73}}</string>
        <key>sourceSize</key>
        <string>{149,73}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0098_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,75},{149,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,73}}</string>
        <key>sourceSize</key>
        <string>{149,73}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0098_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,150},{149,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,73}}</string>
        <key>sourceSize</key>
        <string>{149,73}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0098_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,150},{149,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,73}}</string>
        <key>sourceSize</key>
        <string>{149,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0098.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0098.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>