<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-qq.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,0},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>boss_bullet_0137_o8.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{145,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,62}}</string>
        <key>sourceSize</key>
        <string>{145,62}</string>
      </dict>
      <key>boss_bullet_0137_o7.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,128},{145,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,62}}</string>
        <key>sourceSize</key>
        <string>{145,62}</string>
      </dict>
      <key>boss_bullet_0137_o6.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,64},{145,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,62}}</string>
        <key>sourceSize</key>
        <string>{145,62}</string>
      </dict>
      <key>boss_bullet_0137_o5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{145,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,62}}</string>
        <key>sourceSize</key>
        <string>{145,62}</string>
      </dict>
      <key>boss_bullet_0137_o4.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,0},{145,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,62}}</string>
        <key>sourceSize</key>
        <string>{145,62}</string>
      </dict>
      <key>boss_bullet_0137_o3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,64},{145,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,62}}</string>
        <key>sourceSize</key>
        <string>{145,62}</string>
      </dict>
      <key>boss_bullet_0137_o2.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,64},{145,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,62}}</string>
        <key>sourceSize</key>
        <string>{145,62}</string>
      </dict>
      <key>boss_bullet_0137_o1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{145,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,62}}</string>
        <key>sourceSize</key>
        <string>{145,62}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0137.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0137.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>