<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-FX_142_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,268},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,0},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,536},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,134},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,402},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,268},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,536},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,0},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,134},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,134},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,268},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,402},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,402},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
      <key>bullet_parts-FX_142_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,536},{266,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{266,132}}</string>
        <key>sourceSize</key>
        <string>{266,132}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0149.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0149.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>