<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-boss_bullet_0079_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{86,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,64}}</string>
        <key>sourceSize</key>
        <string>{86,64}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0079_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{86,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,64}}</string>
        <key>sourceSize</key>
        <string>{86,64}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0079_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,66},{86,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,64}}</string>
        <key>sourceSize</key>
        <string>{86,64}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0079_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,198},{86,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,64}}</string>
        <key>sourceSize</key>
        <string>{86,64}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0079_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{86,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,64}}</string>
        <key>sourceSize</key>
        <string>{86,64}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0079_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,66},{86,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,64}}</string>
        <key>sourceSize</key>
        <string>{86,64}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0079_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{86,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,64}}</string>
        <key>sourceSize</key>
        <string>{86,64}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0079_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,132},{86,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{86,64}}</string>
        <key>sourceSize</key>
        <string>{86,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0079.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0079.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>