<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>boss_bullet_0018_parts-zidan_00009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{117,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,123}}</string>
        <key>sourceSize</key>
        <string>{117,123}</string>
      </dict>
      <key>boss_bullet_0018_parts-zidan_00008.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{117,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,123}}</string>
        <key>sourceSize</key>
        <string>{117,123}</string>
      </dict>
      <key>boss_bullet_0018_parts-zidan_00007.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,125},{117,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,123}}</string>
        <key>sourceSize</key>
        <string>{117,123}</string>
      </dict>
      <key>boss_bullet_0018_parts-zidan_00006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,125},{117,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,123}}</string>
        <key>sourceSize</key>
        <string>{117,123}</string>
      </dict>
      <key>boss_bullet_0018_parts-zidan_00005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{117,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,123}}</string>
        <key>sourceSize</key>
        <string>{117,123}</string>
      </dict>
      <key>boss_bullet_0018_parts-zidan_00004.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,0},{117,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,123}}</string>
        <key>sourceSize</key>
        <string>{117,123}</string>
      </dict>
      <key>boss_bullet_0018_parts-zidan_00003.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,0},{117,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,123}}</string>
        <key>sourceSize</key>
        <string>{117,123}</string>
      </dict>
      <key>boss_bullet_0018_parts-zidan_00002.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,125},{117,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,123}}</string>
        <key>sourceSize</key>
        <string>{117,123}</string>
      </dict>
      <key>boss_bullet_0018_parts-zidan_00001.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,125},{117,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,123}}</string>
        <key>sourceSize</key>
        <string>{117,123}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0018.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0018.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>