<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-boss_bullet_0078_s15.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,98},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s14.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,0},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s13.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,196},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s12.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,98},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,196},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,0},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,98},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,98},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,98},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,196},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0078_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,196},{93,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,96}}</string>
        <key>sourceSize</key>
        <string>{93,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0078.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0078.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>