<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>boss_bullet_0122_y15.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,181},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y14.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,0},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y13.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,362},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y12.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,0},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y10.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,181},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y9.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,362},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y7.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y6.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,0},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,181},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y4.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,181},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y3.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,181},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y2.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,362},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
      <key>boss_bullet_0122_y1.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,362},{176,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,179}}</string>
        <key>sourceSize</key>
        <string>{176,179}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0122.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0122.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>