<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-boss_bullet_0129_t15.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,140},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t14.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t13.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,280},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t12.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,0},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t11.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,140},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t9.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,280},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t7.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t6.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t5.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,0},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t4.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,140},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t3.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,140},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t2.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,140},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0129_t1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,280},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0129.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0129.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>