<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-boss_bullet_0097_s11.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,115},{116,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,113}}</string>
        <key>sourceSize</key>
        <string>{116,113}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0097_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{116,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,113}}</string>
        <key>sourceSize</key>
        <string>{116,113}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0097_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,230},{116,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,113}}</string>
        <key>sourceSize</key>
        <string>{116,113}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0097_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,115},{116,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,113}}</string>
        <key>sourceSize</key>
        <string>{116,113}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0097_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,230},{116,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,113}}</string>
        <key>sourceSize</key>
        <string>{116,113}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0097_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{116,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,113}}</string>
        <key>sourceSize</key>
        <string>{116,113}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0097_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{116,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,113}}</string>
        <key>sourceSize</key>
        <string>{116,113}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0097_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{116,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,113}}</string>
        <key>sourceSize</key>
        <string>{116,113}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0097_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,115},{116,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,113}}</string>
        <key>sourceSize</key>
        <string>{116,113}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0097_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,115},{116,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,113}}</string>
        <key>sourceSize</key>
        <string>{116,113}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0097_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{116,113}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,113}}</string>
        <key>sourceSize</key>
        <string>{116,113}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0097.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0097.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>