<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-boss_bullet_0082_s15.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,108},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s14.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s13.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,216},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s12.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,54},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s11.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,162},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,216},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,54},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,54},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,108},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,162},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0082_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{166,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,52}}</string>
        <key>sourceSize</key>
        <string>{166,52}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0082.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0082.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>