<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-FX_142_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,258},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,0},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,516},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,129},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,387},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,516},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,0},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,129},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,129},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,258},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,387},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,387},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
      <key>bullet_parts-FX_142_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,516},{267,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{267,127}}</string>
        <key>sourceSize</key>
        <string>{267,127}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0152.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0152.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>