<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>qq1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{220,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{220,62}}</string>
        <key>sourceSize</key>
        <string>{220,62}</string>
      </dict>
      <key>boss_bullet_0123_y15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,217},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,64},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y13.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,357},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,115},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,268},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,166},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,370},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y8.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y7.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,51},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y6.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,102},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y5.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,153},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y4.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,204},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y3.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,255},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y2.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,306},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
      <key>boss_bullet_0123_y1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,319},{216,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{216,49}}</string>
        <key>sourceSize</key>
        <string>{216,49}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0123.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0123.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>