<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-FX_0111_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,194},{200,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,95}}</string>
        <key>sourceSize</key>
        <string>{200,95}</string>
      </dict>
      <key>bullet_parts-FX_0111_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{200,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,95}}</string>
        <key>sourceSize</key>
        <string>{200,95}</string>
      </dict>
      <key>bullet_parts-FX_0111_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,291},{200,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,95}}</string>
        <key>sourceSize</key>
        <string>{200,95}</string>
      </dict>
      <key>bullet_parts-FX_0111_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,95}}</string>
        <key>sourceSize</key>
        <string>{200,95}</string>
      </dict>
      <key>bullet_parts-FX_0111_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{200,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,95}}</string>
        <key>sourceSize</key>
        <string>{200,95}</string>
      </dict>
      <key>bullet_parts-FX_0111_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,97},{200,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,95}}</string>
        <key>sourceSize</key>
        <string>{200,95}</string>
      </dict>
      <key>bullet_parts-FX_0111_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{200,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,95}}</string>
        <key>sourceSize</key>
        <string>{200,95}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0111.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0111.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>