<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>boss_bullet_parts-1010.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,153},{127,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,148}}</string>
        <key>sourceSize</key>
        <string>{127,148}</string>
      </dict>
      <key>boss_bullet_parts-1009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{182,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{182,172}}</string>
        <key>sourceSize</key>
        <string>{182,172}</string>
      </dict>
      <key>boss_bullet_parts-1008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,174},{163,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,164}}</string>
        <key>sourceSize</key>
        <string>{163,164}</string>
      </dict>
      <key>boss_bullet_parts-1007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,502},{165,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,158}}</string>
        <key>sourceSize</key>
        <string>{165,158}</string>
      </dict>
      <key>boss_bullet_parts-1006.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,303},{161,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,162}}</string>
        <key>sourceSize</key>
        <string>{161,162}</string>
      </dict>
      <key>boss_bullet_parts-1005.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{153,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{153,151}}</string>
        <key>sourceSize</key>
        <string>{153,151}</string>
      </dict>
      <key>boss_bullet_parts-1004.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,172},{163,165}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,165}}</string>
        <key>sourceSize</key>
        <string>{163,165}</string>
      </dict>
      <key>boss_bullet_parts-1003.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,0},{168,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,170}}</string>
        <key>sourceSize</key>
        <string>{168,170}</string>
      </dict>
      <key>boss_bullet_parts-1002.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,339},{165,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,161}}</string>
        <key>sourceSize</key>
        <string>{165,161}</string>
      </dict>
      <key>boss_bullet_parts-1001.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,467},{168,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{168,155}}</string>
        <key>sourceSize</key>
        <string>{168,155}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0036.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0036.png</string>
      <key>size</key>
      <string>{512,1024}</string>
    </dict>
  </dict>
</plist>