<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-fx_183_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,0},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,342},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,228},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,114},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,342},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,0},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,114},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,114},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,228},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,228},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
      <key>bullet_parts-fx_183_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,342},{235,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,112}}</string>
        <key>sourceSize</key>
        <string>{235,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0183.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0183.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>