<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>boss_bullet_1010_08.png</key>
   <dict>
    <key>frame</key>
    <string>{{604,504},{300,250}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,250}}</string>
    <key>sourceSize</key>
    <string>{300,250}</string>
   </dict>
   <key>boss_bullet_1010_07.png</key>
   <dict>
    <key>frame</key>
    <string>{{604,0},{300,250}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,250}}</string>
    <key>sourceSize</key>
    <string>{300,250}</string>
   </dict>
   <key>boss_bullet_1010_06.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,504},{300,250}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,250}}</string>
    <key>sourceSize</key>
    <string>{300,250}</string>
   </dict>
   <key>boss_bullet_1010_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,252},{300,250}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,250}}</string>
    <key>sourceSize</key>
    <string>{300,250}</string>
   </dict>
   <key>boss_bullet_1010_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{300,250}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,250}}</string>
    <key>sourceSize</key>
    <string>{300,250}</string>
   </dict>
   <key>boss_bullet_1010_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{302,0},{300,250}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,250}}</string>
    <key>sourceSize</key>
    <string>{300,250}</string>
   </dict>
   <key>boss_bullet_1010_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,252},{300,250}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,250}}</string>
    <key>sourceSize</key>
    <string>{300,250}</string>
   </dict>
   <key>boss_bullet_1010_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{604,252},{300,250}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,250}}</string>
    <key>sourceSize</key>
    <string>{300,250}</string>
   </dict>
   <key>boss_bullet_1010_00.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,504},{300,250}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{300,250}}</string>
    <key>sourceSize</key>
    <string>{300,250}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>boss_bullet_1010.png</string>
   <key>textureFileName</key>
   <string>boss_bullet_1010.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>