<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-ex_zd15.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,286},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd14.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd13.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,572},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd12.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,143},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd11.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,429},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,286},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd9.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,572},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd7.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,143},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd5.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,143},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd4.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,286},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,429},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd2.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,429},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
      <key>bullet_parts-ex_zd1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,572},{298,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{298,141}}</string>
        <key>sourceSize</key>
        <string>{298,141}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0197.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0197.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>