<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-FX_0135_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,147},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,0},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,147},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,0},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,147},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,0},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,0},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,0},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,147},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,147},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,147},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
      <key>bullet_parts-FX_0135_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,147},{144,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,145}}</string>
        <key>sourceSize</key>
        <string>{144,145}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0135.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0135.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>