<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-186_zd_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,380},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,0},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,570},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,380},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,190},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,570},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,0},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,0},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,190},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,190},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,380},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,380},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
      <key>bullet_parts-186_zd_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,570},{500,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{500,188}}</string>
        <key>sourceSize</key>
        <string>{500,188}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0186.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0186.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
    </dict>
  </dict>
</plist>