<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_images-effect_zidan15.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,344},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan14.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,0},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan13.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,688},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan12.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,172},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan11.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,516},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,344},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan9.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,688},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan7.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,0},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan5.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,172},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan4.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,344},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,516},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,516},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
      <key>bullet_images-effect_zidan.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,688},{255,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,170}}</string>
        <key>sourceSize</key>
        <string>{255,170}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0180.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0180.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>