<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-boss_bullet_0126_u15.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,132},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u14.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u13.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,264},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u12.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,0},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u11.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,132},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u9.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,264},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u7.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u6.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u5.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,0},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u4.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,132},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u3.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,132},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u2.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,132},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0126_u1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{162,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0126.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0126.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>