<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-yzd2_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,0},{143,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,74}}</string>
        <key>sourceSize</key>
        <string>{143,74}</string>
      </dict>
      <key>bullet_parts-yzd2_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,152},{143,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,74}}</string>
        <key>sourceSize</key>
        <string>{143,74}</string>
      </dict>
      <key>bullet_parts-yzd2_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,76},{143,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,74}}</string>
        <key>sourceSize</key>
        <string>{143,74}</string>
      </dict>
      <key>bullet_parts-yzd2_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,152},{143,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,74}}</string>
        <key>sourceSize</key>
        <string>{143,74}</string>
      </dict>
      <key>bullet_parts-yzd2_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{143,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,74}}</string>
        <key>sourceSize</key>
        <string>{143,74}</string>
      </dict>
      <key>bullet_parts-yzd2_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,0},{143,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,74}}</string>
        <key>sourceSize</key>
        <string>{143,74}</string>
      </dict>
      <key>bullet_parts-yzd2_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,76},{143,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,74}}</string>
        <key>sourceSize</key>
        <string>{143,74}</string>
      </dict>
      <key>bullet_parts-yzd2_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,76},{143,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{143,74}}</string>
        <key>sourceSize</key>
        <string>{143,74}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0105_B.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0105_B.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>