<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>boss_bullet_1007_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{154,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,80}}</string>
        <key>sourceSize</key>
        <string>{154,80}</string>
      </dict>
      <key>boss_bullet_1007_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{154,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,80}}</string>
        <key>sourceSize</key>
        <string>{154,80}</string>
      </dict>
      <key>boss_bullet_1007_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{154,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,80}}</string>
        <key>sourceSize</key>
        <string>{154,80}</string>
      </dict>
      <key>boss_bullet_1007_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,164},{154,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,80}}</string>
        <key>sourceSize</key>
        <string>{154,80}</string>
      </dict>
      <key>boss_bullet_1007_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{154,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,80}}</string>
        <key>sourceSize</key>
        <string>{154,80}</string>
      </dict>
      <key>boss_bullet_1007_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,0},{154,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,80}}</string>
        <key>sourceSize</key>
        <string>{154,80}</string>
      </dict>
      <key>boss_bullet_1007_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,82},{154,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,80}}</string>
        <key>sourceSize</key>
        <string>{154,80}</string>
      </dict>
      <key>boss_bullet_1007_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,82},{154,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,80}}</string>
        <key>sourceSize</key>
        <string>{154,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_1007.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_1007.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>