<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-boss_bullet_0089_s11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0089_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0089_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,285},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0089_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,95},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0089_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,285},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0089_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0089_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0089_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,95},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0089_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,95},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0089_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,190},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0089_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,190},{64,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,93}}</string>
        <key>sourceSize</key>
        <string>{64,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0089.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0089.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>