<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_images-effect_179_zidan15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,356},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan14.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,0},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan13.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,534},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan11.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,356},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan10.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,178},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan9.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,534},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan7.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,0},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan6.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,0},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan5.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,178},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan4.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,178},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan3.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,356},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,356},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
      <key>bullet_images-effect_179_zidan.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,534},{204,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,176}}</string>
        <key>sourceSize</key>
        <string>{204,176}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0179.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0179.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>