<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_images-fx_zd_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,284},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,0},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,568},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,142},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,426},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,568},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,142},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,142},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,284},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,426},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,426},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
      <key>bullet_images-fx_zd_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,568},{294,140}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,140}}</string>
        <key>sourceSize</key>
        <string>{294,140}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0182.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0182.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>