<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-FX_162015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_162014.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_162013.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,486},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_162012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,162},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_162011.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,324},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_162010.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,162},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_16209.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,486},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_16208.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_16207.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_16206.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_16205.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,162},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_16204.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,162},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_16203.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,324},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_16202.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,324},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
      <key>bullet_parts-FX_1620.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,486},{248,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{248,160}}</string>
        <key>sourceSize</key>
        <string>{248,160}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0164.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0164.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>