<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-boss_bullet_0084_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{79,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,33}}</string>
        <key>sourceSize</key>
        <string>{79,33}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0084_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,105},{79,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,33}}</string>
        <key>sourceSize</key>
        <string>{79,33}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0084_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,35},{79,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,33}}</string>
        <key>sourceSize</key>
        <string>{79,33}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0084_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,70},{79,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,33}}</string>
        <key>sourceSize</key>
        <string>{79,33}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0084_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,35},{79,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,33}}</string>
        <key>sourceSize</key>
        <string>{79,33}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0084_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{79,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,33}}</string>
        <key>sourceSize</key>
        <string>{79,33}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0084_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{79,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,33}}</string>
        <key>sourceSize</key>
        <string>{79,33}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0084_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,35},{79,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,33}}</string>
        <key>sourceSize</key>
        <string>{79,33}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0084_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,70},{79,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,33}}</string>
        <key>sourceSize</key>
        <string>{79,33}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0084_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,70},{79,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,33}}</string>
        <key>sourceSize</key>
        <string>{79,33}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0084.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0084.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>