<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_images-zidan15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,564},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan14.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,0},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan13.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,846},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,282},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan11.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,564},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan10.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,282},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan9.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,846},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan7.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,0},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1290,0},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan5.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,282},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan4.png</key>
      <dict>
        <key>frame</key>
        <string>{{1290,282},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan3.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,564},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1290,564},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
      <key>bullet_images-zidan1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,846},{428,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{428,280}}</string>
        <key>sourceSize</key>
        <string>{428,280}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0189.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0189.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
    </dict>
  </dict>
</plist>