<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-boss_bullet_0093_s15.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,76},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s14.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s13.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,152},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s12.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,38},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s11.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,114},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,76},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,152},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,38},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,38},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,76},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,114},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0093_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,152},{127,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{127,36}}</string>
        <key>sourceSize</key>
        <string>{127,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0093.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0093.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>