<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-FX_170_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,333},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,222},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,111},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,333},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,0},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,111},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,111},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,222},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,222},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
      <key>bullet_parts-FX_170_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,333},{250,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,109}}</string>
        <key>sourceSize</key>
        <string>{250,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0170.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0170.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>