<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-qq.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>boss_bullet_0139_p15.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p14.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,172},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p13.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p12.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,86},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,86},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p10.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,172},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p9.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,86},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p7.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,0},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p6.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p5.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,86},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p4.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,86},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p3.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,86},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
      <key>boss_bullet_0139_p1.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{79,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,84}}</string>
        <key>sourceSize</key>
        <string>{79,84}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0139.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0139.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>