<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>boss_bullet_1008_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,0},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>boss_bullet_1008_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,231},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>boss_bullet_1008_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,77},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>boss_bullet_1008_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,231},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>boss_bullet_1008_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>boss_bullet_1008_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,77},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>boss_bullet_1008_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
      <key>boss_bullet_1008_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,154},{175,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{175,75}}</string>
        <key>sourceSize</key>
        <string>{175,75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_1008.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_1008.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>