<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-FX_142_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,375},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,125},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,250},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,125},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,375},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,0},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,125},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,125},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,250},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{735,250},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
      <key>bullet_parts-FX_142_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,375},{243,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{243,123}}</string>
        <key>sourceSize</key>
        <string>{243,123}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0150.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0150.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>