<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_images-FX_166015.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,166},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_166014.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,0},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_166013.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,332},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_166012.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,0},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_166011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_166010.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,166},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_16609.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,332},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_16608.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_16607.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_16606.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,0},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_16605.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,166},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_16604.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,166},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_16603.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,166},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_16602.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,332},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
      <key>bullet_images-FX_1660.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,332},{176,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,164}}</string>
        <key>sourceSize</key>
        <string>{176,164}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0166.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0166.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>