<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>zidan0191ex14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,504},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex13.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex12.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,756},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,252},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex10.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,504},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex9.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,252},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex8.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,756},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex6.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex5.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,0},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex4.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,252},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex3.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,252},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex23.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,504},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex1.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,504},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
      <key>zidan0191ex.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,756},{250,250}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{250,250}}</string>
        <key>sourceSize</key>
        <string>{250,250}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0195.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0195.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>