<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>FX_0183_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{234,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,97}}</string>
        <key>sourceSize</key>
        <string>{234,97}</string>
      </dict>
      <key>FX_0183_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,396},{234,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,97}}</string>
        <key>sourceSize</key>
        <string>{234,97}</string>
      </dict>
      <key>FX_0183_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,99},{234,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,97}}</string>
        <key>sourceSize</key>
        <string>{234,97}</string>
      </dict>
      <key>FX_0183_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{234,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,97}}</string>
        <key>sourceSize</key>
        <string>{234,97}</string>
      </dict>
      <key>FX_0183_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,198},{234,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,97}}</string>
        <key>sourceSize</key>
        <string>{234,97}</string>
      </dict>
      <key>FX_0183_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{234,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,97}}</string>
        <key>sourceSize</key>
        <string>{234,97}</string>
      </dict>
      <key>FX_0183_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,99},{234,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,97}}</string>
        <key>sourceSize</key>
        <string>{234,97}</string>
      </dict>
      <key>FX_0183_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{234,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,97}}</string>
        <key>sourceSize</key>
        <string>{234,97}</string>
      </dict>
      <key>FX_0183_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,297},{234,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,97}}</string>
        <key>sourceSize</key>
        <string>{234,97}</string>
      </dict>
      <key>FX_0183_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,297},{234,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{234,97}}</string>
        <key>sourceSize</key>
        <string>{234,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0138.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0138.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>