<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-boss_bullet_0132_o15.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,150},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o14.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o13.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,150},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o12.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,0},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o11.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,150},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o10.png</key>
      <dict>
        <key>frame</key>
        <string>{{864,0},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o7.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o6.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o5.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,0},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o3.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,150},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o2.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,150},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
      <key>bullet_parts-boss_bullet_0132_o1.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,150},{142,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,148}}</string>
        <key>sourceSize</key>
        <string>{142,148}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0132.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0132.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>