<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-FX_130_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,318},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
      <key>bullet_parts-FX_130_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
      <key>bullet_parts-FX_130_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,159},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
      <key>bullet_parts-FX_130_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
      <key>bullet_parts-FX_130_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,318},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
      <key>bullet_parts-FX_130_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,159},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
      <key>bullet_parts-FX_130_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
      <key>bullet_parts-FX_130_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
      <key>bullet_parts-FX_130_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
      <key>bullet_parts-FX_130_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
      <key>bullet_parts-FX_130_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,159},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
      <key>bullet_parts-FX_130_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,159},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
      <key>bullet_parts-FX_130_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,318},{198,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,157}}</string>
        <key>sourceSize</key>
        <string>{198,157}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0130.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0130.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>