<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>boss_bullet_0019_parts-boss_0023_bullet_00008.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,332},{164,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,164}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
      <key>boss_bullet_0019_parts-boss_0023_bullet_00007.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,0},{164,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,164}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
      <key>boss_bullet_0019_parts-boss_0023_bullet_00006.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,332},{164,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,164}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
      <key>boss_bullet_0019_parts-boss_0023_bullet_00005.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,166},{164,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,164}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
      <key>boss_bullet_0019_parts-boss_0023_bullet_00004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{164,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,164}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
      <key>boss_bullet_0019_parts-boss_0023_bullet_00003.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{164,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,164}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
      <key>boss_bullet_0019_parts-boss_0023_bullet_00002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,166},{164,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,164}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
      <key>boss_bullet_0019_parts-boss_0023_bullet_00001.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,166},{164,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,164}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
      <key>boss_bullet_0019_parts-boss_0023_bullet_00000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{164,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,164}}</string>
        <key>sourceSize</key>
        <string>{164,164}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss_bullet_0023.png</string>
      <key>textureFileName</key>
      <string>boss_bullet_0023.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>