<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-bullet_298_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,0},{106,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>bullet_parts-bullet_298_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,208},{106,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>bullet_parts-bullet_298_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{106,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>bullet_parts-bullet_298_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,208},{106,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>bullet_parts-bullet_298_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,104},{106,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>bullet_parts-bullet_298_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>bullet_parts-bullet_298_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{106,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>bullet_parts-bullet_298_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,104},{106,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>bullet_parts-bullet_298_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,104},{106,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>bullet_parts-bullet_298_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,104},{106,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>bullet_298.png</string>
      <key>textureFileName</key>
      <string>bullet_298.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>