<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-bullet_294_s15.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,84},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s14.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s13.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,168},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s12.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s11.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,84},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,84},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,168},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,0},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,84},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,84},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,84},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
      <key>bullet_parts-bullet_294_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,168},{79,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,82}}</string>
        <key>sourceSize</key>
        <string>{79,82}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>bullet_294.png</string>
      <key>textureFileName</key>
      <string>bullet_294.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>