<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-bullet_299_s15.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s14.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,90},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s13.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s12.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,180},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s11.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,90},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,180},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,90},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,180},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,0},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,90},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,90},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,180},{100,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>sourceSize</key>
        <string>{100,88}</string>
      </dict>
      <key>bullet_parts-bullet_299_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,0},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>bullet_parts-effect_299.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,180},{81,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,81}}</string>
        <key>sourceSize</key>
        <string>{81,81}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>bullet_299.png</string>
      <key>textureFileName</key>
      <string>bullet_299.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>