<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>bullet_28_parts-bullet_28_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{161,0},{159,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,127}}</string>
    <key>sourceSize</key>
    <string>{159,127}</string>
   </dict>
   <key>bullet_28_parts-bullet_28_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{322,129},{159,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,127}}</string>
    <key>sourceSize</key>
    <string>{159,127}</string>
   </dict>
   <key>bullet_28_parts-bullet_28_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{161,129},{159,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,127}}</string>
    <key>sourceSize</key>
    <string>{159,127}</string>
   </dict>
   <key>bullet_28_parts-bullet_28_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{159,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,127}}</string>
    <key>sourceSize</key>
    <string>{159,127}</string>
   </dict>
   <key>bullet_28_parts-bullet_28_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{322,0},{159,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,127}}</string>
    <key>sourceSize</key>
    <string>{159,127}</string>
   </dict>
   <key>bullet_28_parts-bullet_28_00.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,129},{159,127}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,127}}</string>
    <key>sourceSize</key>
    <string>{159,127}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>bullet_28.png</string>
   <key>textureFileName</key>
   <string>bullet_28.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>