<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-bullet_301s2_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,269},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s2_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,258},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s2_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,183},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s2_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,97},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s2_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,226},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s2_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,258},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s2_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,226},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s2_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,215},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s2_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,183},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s2_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,140},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s2_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,269},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s2_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,215},{50,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,41}}</string>
        <key>sourceSize</key>
        <string>{50,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s1_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s1_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,0},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s1_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,43},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s1_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,172},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s1_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s1_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,129},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s1_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s1_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,86},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s1_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,43},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s1_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,129},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,172},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>bullet_parts-bullet_301s1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,86},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>bullet_parts-g1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{109,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{109,95}}</string>
        <key>sourceSize</key>
        <string>{109,95}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>bullet_301.png</string>
      <key>textureFileName</key>
      <string>bullet_301.png</string>
      <key>size</key>
      <string>{256,512}</string>
    </dict>
  </dict>
</plist>