<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-bullet_19_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,164},{140,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,80}}</string>
        <key>sourceSize</key>
        <string>{140,80}</string>
      </dict>
      <key>bullet_parts-bullet_19_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{140,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,80}}</string>
        <key>sourceSize</key>
        <string>{140,80}</string>
      </dict>
      <key>bullet_parts-bullet_19_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,164},{140,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,80}}</string>
        <key>sourceSize</key>
        <string>{140,80}</string>
      </dict>
      <key>bullet_parts-bullet_19_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,82},{140,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,80}}</string>
        <key>sourceSize</key>
        <string>{140,80}</string>
      </dict>
      <key>bullet_parts-bullet_19_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{140,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,80}}</string>
        <key>sourceSize</key>
        <string>{140,80}</string>
      </dict>
      <key>bullet_parts-bullet_19_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{140,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,80}}</string>
        <key>sourceSize</key>
        <string>{140,80}</string>
      </dict>
      <key>bullet_parts-bullet_19_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{140,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,80}}</string>
        <key>sourceSize</key>
        <string>{140,80}</string>
      </dict>
      <key>bullet_parts-bullet_19_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,82},{140,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,80}}</string>
        <key>sourceSize</key>
        <string>{140,80}</string>
      </dict>
      <key>bullet_parts-bullet_19_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{140,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,80}}</string>
        <key>sourceSize</key>
        <string>{140,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>bullet_19.png</string>
      <key>textureFileName</key>
      <string>bullet_19.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>