<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-bql_s20.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,0},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s19.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,116},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s18.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s17.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,232},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s16.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s15.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,116},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s13.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,232},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s12.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,116},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s11.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,232},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,0},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,0},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,116},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,116},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,116},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,232},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
      <key>bullet_parts-bql_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,232},{64,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,114}}</string>
        <key>sourceSize</key>
        <string>{64,114}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>bullet_302.png</string>
      <key>textureFileName</key>
      <string>bullet_302.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>