<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-bullet_296_s15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s14.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s13.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,225},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,75},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s11.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,150},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,75},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,225},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,0},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,75},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,75},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,150},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,150},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>bullet_parts-bullet_296_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,225},{105,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>bullet_296.png</string>
      <key>textureFileName</key>
      <string>bullet_296.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>