<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-bullet_293_effect_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,86},{98,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{98,84}</string>
      </dict>
      <key>bullet_parts-bullet_293_effect_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,86},{98,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{98,84}</string>
      </dict>
      <key>bullet_parts-bullet_293_effect_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,86},{98,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{98,84}</string>
      </dict>
      <key>bullet_parts-bullet_293_effect_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{98,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{98,84}</string>
      </dict>
      <key>bullet_parts-bullet_293_effect_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,0},{98,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{98,84}</string>
      </dict>
      <key>bullet_parts-bullet_293_effect_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,0},{98,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,84}}</string>
        <key>sourceSize</key>
        <string>{98,84}</string>
      </dict>
      <key>bullet_parts-bullet_293a.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{161,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,126}}</string>
        <key>sourceSize</key>
        <string>{161,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>bullet_293.png</string>
      <key>textureFileName</key>
      <string>bullet_293.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>