<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-bullet_297_s15.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,212},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s14.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,0},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s13.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,318},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s11.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,212},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s10.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,106},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s9.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,318},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s7.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s6.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,0},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s5.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,106},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s4.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,106},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s3.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,212},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s2.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,212},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>bullet_parts-bullet_297_s1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,318},{104,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>bullet_297.png</string>
      <key>textureFileName</key>
      <string>bullet_297.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>