<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>bullet_parts-monster_bullet_0031_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,82},{115,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,80}}</string>
        <key>sourceSize</key>
        <string>{115,80}</string>
      </dict>
      <key>bullet_parts-monster_bullet_0031_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{115,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,80}}</string>
        <key>sourceSize</key>
        <string>{115,80}</string>
      </dict>
      <key>bullet_parts-monster_bullet_0031_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,164},{115,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,80}}</string>
        <key>sourceSize</key>
        <string>{115,80}</string>
      </dict>
      <key>bullet_parts-monster_bullet_0031_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{115,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,80}}</string>
        <key>sourceSize</key>
        <string>{115,80}</string>
      </dict>
      <key>bullet_parts-monster_bullet_0031_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,164},{115,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,80}}</string>
        <key>sourceSize</key>
        <string>{115,80}</string>
      </dict>
      <key>bullet_parts-monster_bullet_0031_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{115,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,80}}</string>
        <key>sourceSize</key>
        <string>{115,80}</string>
      </dict>
      <key>bullet_parts-monster_bullet_0031_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{115,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,80}}</string>
        <key>sourceSize</key>
        <string>{115,80}</string>
      </dict>
      <key>bullet_parts-monster_bullet_0031_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,0},{115,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,80}}</string>
        <key>sourceSize</key>
        <string>{115,80}</string>
      </dict>
      <key>bullet_parts-monster_bullet_0031_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,82},{115,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,80}}</string>
        <key>sourceSize</key>
        <string>{115,80}</string>
      </dict>
      <key>bullet_parts-monster_bullet_0031_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,82},{115,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,80}}</string>
        <key>sourceSize</key>
        <string>{115,80}</string>
      </dict>
      <key>bullet_parts-monster_bullet_0031_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{115,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{115,80}}</string>
        <key>sourceSize</key>
        <string>{115,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_bullet_0031.png</string>
      <key>textureFileName</key>
      <string>monster_bullet_0031.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>