<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>babyboy_parts-baby_boy_hair_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,15},{26,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,11}}</string>
        <key>sourceSize</key>
        <string>{26,11}</string>
      </dict>
      <key>babyboy_parts-baby_boy_hair2_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,0},{43,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,13}}</string>
        <key>sourceSize</key>
        <string>{43,13}</string>
      </dict>
      <key>babyboy_parts-baby_boy_hair3_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,97},{48,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,15}}</string>
        <key>sourceSize</key>
        <string>{48,15}</string>
      </dict>
      <key>babyboy_parts-baby_boy_hair4_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,77},{60,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,18}}</string>
        <key>sourceSize</key>
        <string>{60,18}</string>
      </dict>
      <key>babyboy_parts-baby_boy_hair5_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,77},{57,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,52}}</string>
        <key>sourceSize</key>
        <string>{57,52}</string>
      </dict>
      <key>babyboy_parts-baby_boy_head_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{77,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,75}}</string>
        <key>sourceSize</key>
        <string>{77,75}</string>
      </dict>
      <key>babyboy_parts-baby_boy_hair6_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,15},{14,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,29}}</string>
        <key>sourceSize</key>
        <string>{14,29}</string>
      </dict>
      <key>babyboy_face.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>babyboy_head_001.png</string>
      <key>textureFileName</key>
      <string>babyboy_head_001.png</string>
      <key>size</key>
      <string>{128,256}</string>
    </dict>
  </dict>
</plist>