<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>combatgirl_parts-combatgirl_facial_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,107}}</string>
        <key>sourceSize</key>
        <string>{95,107}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hat1_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,79},{51,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{51,55}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hat2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{124,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,77}}</string>
        <key>sourceSize</key>
        <string>{124,77}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair1_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,164},{20,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,42}}</string>
        <key>sourceSize</key>
        <string>{20,42}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,144},{31,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,50}}</string>
        <key>sourceSize</key>
        <string>{31,50}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{28,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,47}}</string>
        <key>sourceSize</key>
        <string>{28,47}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair4_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,146},{29,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,44}}</string>
        <key>sourceSize</key>
        <string>{29,44}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair5_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{68,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,35}}</string>
        <key>sourceSize</key>
        <string>{68,35}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair6_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,79},{34,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,93}}</string>
        <key>sourceSize</key>
        <string>{34,93}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair7_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,79},{25,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,72}}</string>
        <key>sourceSize</key>
        <string>{25,72}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair8_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,109},{19,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,53}}</string>
        <key>sourceSize</key>
        <string>{19,53}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair9_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,164},{12,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,34}}</string>
        <key>sourceSize</key>
        <string>{12,34}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair10_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,153},{28,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,38}}</string>
        <key>sourceSize</key>
        <string>{28,38}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair11_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,82},{34,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,60}}</string>
        <key>sourceSize</key>
        <string>{34,60}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair12_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{21,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,80}}</string>
        <key>sourceSize</key>
        <string>{21,80}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hat3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,136},{43,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,56}}</string>
        <key>sourceSize</key>
        <string>{43,56}</string>
      </dict>
      <key>combatgirl_face.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{3,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,4}}</string>
        <key>sourceSize</key>
        <string>{3,4}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>combatgirl_head_002.png</string>
      <key>textureFileName</key>
      <string>combatgirl_head_002.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>