<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>combatgirl_parts-combatgirl_face5_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,57},{78,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,57}}</string>
        <key>sourceSize</key>
        <string>{78,57}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face9_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,169},{81,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,52}}</string>
        <key>sourceSize</key>
        <string>{81,52}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face8_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,116},{76,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,58}}</string>
        <key>sourceSize</key>
        <string>{76,58}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face11_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{78,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,55}}</string>
        <key>sourceSize</key>
        <string>{78,55}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face10_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,113},{80,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,54}}</string>
        <key>sourceSize</key>
        <string>{80,54}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face6_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,57},{81,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,54}}</string>
        <key>sourceSize</key>
        <string>{81,54}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face7_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{81,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,61}}</string>
        <key>sourceSize</key>
        <string>{81,61}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face4_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{81,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,55}}</string>
        <key>sourceSize</key>
        <string>{81,55}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face3_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{79,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,54}}</string>
        <key>sourceSize</key>
        <string>{79,54}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face2_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,63},{80,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,54}}</string>
        <key>sourceSize</key>
        <string>{80,54}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face1_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{81,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,55}}</string>
        <key>sourceSize</key>
        <string>{81,55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>combatgirl_face_002.png</string>
      <key>textureFileName</key>
      <string>combatgirl_face_002.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>