<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>babyboy_parts-baby_boy_gun.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,0},{43,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,34}}</string>
        <key>sourceSize</key>
        <string>{43,34}</string>
      </dict>
      <key>babyboy_parts-baby_boy_bomb.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{36,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,49}}</string>
        <key>sourceSize</key>
        <string>{36,49}</string>
      </dict>
      <key>babyboy_parts-baby_mount_head.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,8},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>babyboy_parts-baby_mount_body.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,4},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>babyboy_parts-baby_girl_R_hand_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,51},{16,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,28}}</string>
        <key>sourceSize</key>
        <string>{16,28}</string>
      </dict>
      <key>baby_girl_head_1_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,8},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>baby_girl_face.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>baby_girl_head_2_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>babyboy_parts-baby_girl_R_arm_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,58},{12,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,19}}</string>
        <key>sourceSize</key>
        <string>{12,19}</string>
      </dict>
      <key>babyboy_parts-baby_girl_body_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{34,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,31}}</string>
        <key>sourceSize</key>
        <string>{34,31}</string>
      </dict>
      <key>babyboy_parts-baby_girl_butt_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,33},{38,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,23}}</string>
        <key>sourceSize</key>
        <string>{38,23}</string>
      </dict>
      <key>babyboy_parts-baby_girl_R_leg_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,36},{20,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,28}}</string>
        <key>sourceSize</key>
        <string>{20,28}</string>
      </dict>
      <key>babyboy_parts-baby_girl_L_leg_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{18,51},{17,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,26}}</string>
        <key>sourceSize</key>
        <string>{17,26}</string>
      </dict>
      <key>babyboy_parts-baby_girl_R_foot_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,58},{14,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,21}}</string>
        <key>sourceSize</key>
        <string>{14,21}</string>
      </dict>
      <key>babyboy_parts-baby_girl_L_foot_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,64},{14,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,19}}</string>
        <key>sourceSize</key>
        <string>{14,19}</string>
      </dict>
      <key>babyboy_parts-baby_girl_L_hand.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,36},{20,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,26}}</string>
        <key>sourceSize</key>
        <string>{20,26}</string>
      </dict>
      <key>babyboy_parts-baby_girl_L_arm.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,58},{14,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,19}}</string>
        <key>sourceSize</key>
        <string>{14,19}</string>
      </dict>
      <key>baby_girl_head_3_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,4},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>babygirl_body_001.png</string>
      <key>textureFileName</key>
      <string>babygirl_body_001.png</string>
      <key>size</key>
      <string>{128,128}</string>
    </dict>
  </dict>
</plist>