<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>babygirl_parts-baby_girl_hair4.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,0},{36,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,39}}</string>
        <key>sourceSize</key>
        <string>{36,39}</string>
      </dict>
      <key>babygirl_parts-baby_girl_headdress.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{31,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,19}}</string>
        <key>sourceSize</key>
        <string>{31,19}</string>
      </dict>
      <key>babygirl_parts-baby_girl_hair.png</key>
      <dict>
        <key>frame</key>
        <string>{{33,132},{24,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,21}}</string>
        <key>sourceSize</key>
        <string>{24,21}</string>
      </dict>
      <key>babygirl_parts-baby_girl_hair2.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,106},{30,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,23}}</string>
        <key>sourceSize</key>
        <string>{30,23}</string>
      </dict>
      <key>babygirl_parts-baby_girl_hair3.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,41},{42,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,26}}</string>
        <key>sourceSize</key>
        <string>{42,26}</string>
      </dict>
      <key>babygirl_parts-baby_girl_hair6.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,131},{59,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,18}}</string>
        <key>sourceSize</key>
        <string>{59,18}</string>
      </dict>
      <key>babygirl_parts-baby_girl_hair7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,77},{58,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,53}}</string>
        <key>sourceSize</key>
        <string>{58,53}</string>
      </dict>
      <key>babygirl_parts-baby_girl_head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{77,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,75}}</string>
        <key>sourceSize</key>
        <string>{77,75}</string>
      </dict>
      <key>babygirl_parts-baby_girl_hair8.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,77},{13,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,29}}</string>
        <key>sourceSize</key>
        <string>{13,29}</string>
      </dict>
      <key>babygirl_parts-baby_girl_headdress2.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,151},{28,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,20}}</string>
        <key>sourceSize</key>
        <string>{28,20}</string>
      </dict>
      <key>babygirl_parts-baby_girl_hair9.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,69},{33,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,35}}</string>
        <key>sourceSize</key>
        <string>{33,35}</string>
      </dict>
      <key>babygirl_face.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>babygirl_head_001.png</string>
      <key>textureFileName</key>
      <string>babygirl_head_001.png</string>
      <key>size</key>
      <string>{128,256}</string>
    </dict>
  </dict>
</plist>