<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>face320_parts-face330_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,127},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,0},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,254},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,0},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,254},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,0},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,381},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,127},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,254},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,127},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,127},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,254},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,127},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,381},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,0},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,0},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,0},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,127},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,127},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,127},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,127},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,254},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,254},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,254},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,254},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,254},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,381},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
      <key>face320_parts-face330_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,381},{105,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,125}}</string>
        <key>sourceSize</key>
        <string>{105,125}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>face320.png</string>
      <key>textureFileName</key>
      <string>face320.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>