<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>combatboy_face_tmp_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,54},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatboy_head_1_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,50},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatboy_head_2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,62},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatboy_head_3_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,66},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatboy_parts-combatboy_arm10_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,154},{17,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,31}}</string>
			<key>sourceSize</key>
			<string>{17,31}</string>
		</dict>
		<key>combatboy_parts-combatboy_arm10_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,162},{23,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,29}}</string>
			<key>sourceSize</key>
			<string>{23,29}</string>
		</dict>
		<key>combatboy_parts-combatboy_arm20_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,138},{24,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,36}}</string>
			<key>sourceSize</key>
			<string>{24,36}</string>
		</dict>
		<key>combatboy_parts-combatboy_arm20_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,159},{22,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,31}}</string>
			<key>sourceSize</key>
			<string>{22,31}</string>
		</dict>
		<key>combatboy_parts-combatboy_arm_L13_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,117},{19,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,47}}</string>
			<key>sourceSize</key>
			<string>{19,47}</string>
		</dict>
		<key>combatboy_parts-combatboy_arm_L2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,72},{30,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,41}}</string>
			<key>sourceSize</key>
			<string>{30,41}</string>
		</dict>
		<key>combatboy_parts-combatboy_arm_L3_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,120},{25,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,37}}</string>
			<key>sourceSize</key>
			<string>{25,37}</string>
		</dict>
		<key>combatboy_parts-combatboy_arm_L5_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,103},{39,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,30}}</string>
			<key>sourceSize</key>
			<string>{39,30}</string>
		</dict>
		<key>combatboy_parts-combatboy_arm_R2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,124},{37,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,28}}</string>
			<key>sourceSize</key>
			<string>{37,28}</string>
		</dict>
		<key>combatboy_parts-combatboy_arm_R3_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,135},{24,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,36}}</string>
			<key>sourceSize</key>
			<string>{24,36}</string>
		</dict>
		<key>combatboy_parts-combatboy_arm_R_01_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,121},{23,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,39}}</string>
			<key>sourceSize</key>
			<string>{23,39}</string>
		</dict>
		<key>combatboy_parts-combatboy_body10_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,0},{42,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,49}}</string>
			<key>sourceSize</key>
			<string>{42,49}</string>
		</dict>
		<key>combatboy_parts-combatboy_body11_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,92},{40,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,33}}</string>
			<key>sourceSize</key>
			<string>{40,33}</string>
		</dict>
		<key>combatboy_parts-combatboy_body20_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,44},{46,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,44}}</string>
			<key>sourceSize</key>
			<string>{46,44}</string>
		</dict>
		<key>combatboy_parts-combatboy_body21_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,108},{40,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,28}}</string>
			<key>sourceSize</key>
			<string>{40,28}</string>
		</dict>
		<key>combatboy_parts-combatboy_body3_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,0},{42,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,52}}</string>
			<key>sourceSize</key>
			<string>{42,52}</string>
		</dict>
		<key>combatboy_parts-combatboy_body4_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,76},{47,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,35}}</string>
			<key>sourceSize</key>
			<string>{47,35}</string>
		</dict>
		<key>combatboy_parts-combatboy_body5_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,51},{39,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,45}}</string>
			<key>sourceSize</key>
			<string>{39,45}</string>
		</dict>
		<key>combatboy_parts-combatboy_body6_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,159},{31,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,23}}</string>
			<key>sourceSize</key>
			<string>{31,23}</string>
		</dict>
		<key>combatboy_parts-combatboy_body7_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,0},{48,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,42}}</string>
			<key>sourceSize</key>
			<string>{48,42}</string>
		</dict>
		<key>combatboy_parts-combatboy_body8_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,81},{30,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,38}}</string>
			<key>sourceSize</key>
			<string>{30,38}</string>
		</dict>
		<key>combatboy_parts-combatboy_bomb_sample_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,0},{87,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,74}}</string>
			<key>sourceSize</key>
			<string>{87,74}</string>
		</dict>
		<key>combatboy_parts-combatboy_dress10_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,162},{23,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,29}}</string>
			<key>sourceSize</key>
			<string>{23,29}</string>
		</dict>
		<key>combatboy_parts-combatboy_foot10_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,173},{23,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,27}}</string>
			<key>sourceSize</key>
			<string>{23,27}</string>
		</dict>
		<key>combatboy_parts-combatboy_foot10_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,176},{28,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,22}}</string>
			<key>sourceSize</key>
			<string>{28,22}</string>
		</dict>
		<key>combatboy_parts-combatboy_foot20_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,182},{27,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,23}}</string>
			<key>sourceSize</key>
			<string>{27,23}</string>
		</dict>
		<key>combatboy_parts-combatboy_foot20_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,182},{17,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,24}}</string>
			<key>sourceSize</key>
			<string>{17,24}</string>
		</dict>
		<key>combatboy_parts-combatboy_foot_L2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,155},{26,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,29}}</string>
			<key>sourceSize</key>
			<string>{26,29}</string>
		</dict>
		<key>combatboy_parts-combatboy_foot_L3_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,166},{19,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,23}}</string>
			<key>sourceSize</key>
			<string>{19,23}</string>
		</dict>
		<key>combatboy_parts-combatboy_foot_L4_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,185},{21,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,22}}</string>
			<key>sourceSize</key>
			<string>{21,22}</string>
		</dict>
		<key>combatboy_parts-combatboy_foot_R2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,160},{29,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,23}}</string>
			<key>sourceSize</key>
			<string>{29,23}</string>
		</dict>
		<key>combatboy_parts-combatboy_foot_R3_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,193},{17,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,18}}</string>
			<key>sourceSize</key>
			<string>{17,18}</string>
		</dict>
		<key>combatboy_parts-combatboy_foot_R4_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,162},{21,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,23}}</string>
			<key>sourceSize</key>
			<string>{21,23}</string>
		</dict>
		<key>combatboy_parts-combatboy_foot_R5_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,187},{17,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,23}}</string>
			<key>sourceSize</key>
			<string>{17,23}</string>
		</dict>
		<key>combatboy_parts-combatboy_forearm10_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,192},{27,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,12}}</string>
			<key>sourceSize</key>
			<string>{27,12}</string>
		</dict>
		<key>combatboy_parts-combatboy_forearm10_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,205},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>combatboy_parts-combatboy_forearm20_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,187},{21,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,19}}</string>
			<key>sourceSize</key>
			<string>{21,19}</string>
		</dict>
		<key>combatboy_parts-combatboy_forearm20_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,150},{22,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,35}}</string>
			<key>sourceSize</key>
			<string>{22,35}</string>
		</dict>
		<key>combatboy_parts-combatboy_forearm_L12_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,160},{15,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,32}}</string>
			<key>sourceSize</key>
			<string>{15,32}</string>
		</dict>
		<key>combatboy_parts-combatboy_forearm_L2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,153},{31,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,27}}</string>
			<key>sourceSize</key>
			<string>{31,27}</string>
		</dict>
		<key>combatboy_parts-combatboy_forearm_L6_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,115},{33,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,33}}</string>
			<key>sourceSize</key>
			<string>{33,33}</string>
		</dict>
		<key>combatboy_parts-combatboy_forearm_R2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,154},{26,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,31}}</string>
			<key>sourceSize</key>
			<string>{26,31}</string>
		</dict>
		<key>combatboy_parts-combatboy_forearm_R4_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,199},{18,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,16}}</string>
			<key>sourceSize</key>
			<string>{18,16}</string>
		</dict>
		<key>combatboy_parts-combatboy_forearm_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,154},{27,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,30}}</string>
			<key>sourceSize</key>
			<string>{27,30}</string>
		</dict>
		<key>combatboy_parts-combatboy_ghost_001_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,58},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatboy_parts-combatboy_gun_sample_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{83,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,79}}</string>
			<key>sourceSize</key>
			<string>{83,79}</string>
		</dict>
		<key>combatboy_parts-combatboy_hand10_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,187},{25,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,17}}</string>
			<key>sourceSize</key>
			<string>{25,17}</string>
		</dict>
		<key>combatboy_parts-combatboy_hand10_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,191},{17,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,18}}</string>
			<key>sourceSize</key>
			<string>{17,18}</string>
		</dict>
		<key>combatboy_parts-combatboy_hand20_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,174},{28,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,23}}</string>
			<key>sourceSize</key>
			<string>{28,23}</string>
		</dict>
		<key>combatboy_parts-combatboy_hand20_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,193},{15,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,20}}</string>
			<key>sourceSize</key>
			<string>{15,20}</string>
		</dict>
		<key>combatboy_parts-combatboy_hand_L2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,185},{25,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,22}}</string>
			<key>sourceSize</key>
			<string>{25,22}</string>
		</dict>
		<key>combatboy_parts-combatboy_hand_L3_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,193},{23,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,14}}</string>
			<key>sourceSize</key>
			<string>{23,14}</string>
		</dict>
		<key>combatboy_parts-combatboy_hand_L6_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,186},{24,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,20}}</string>
			<key>sourceSize</key>
			<string>{24,20}</string>
		</dict>
		<key>combatboy_parts-combatboy_hand_R2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,187},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{21,20}</string>
		</dict>
		<key>combatboy_parts-combatboy_hand_R4_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{19,194},{15,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,19}}</string>
			<key>sourceSize</key>
			<string>{15,19}</string>
		</dict>
		<key>combatboy_parts-combatboy_hand_R6_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,200},{20,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,13}}</string>
			<key>sourceSize</key>
			<string>{20,13}</string>
		</dict>
		<key>combatboy_parts-combatboy_hip10_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,98},{41,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,31}}</string>
			<key>sourceSize</key>
			<string>{41,31}</string>
		</dict>
		<key>combatboy_parts-combatboy_hip20_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,127},{40,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,24}}</string>
			<key>sourceSize</key>
			<string>{40,24}</string>
		</dict>
		<key>combatboy_parts-combatboy_hip2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,81},{46,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,34}}</string>
			<key>sourceSize</key>
			<string>{46,34}</string>
		</dict>
		<key>combatboy_parts-combatboy_hip4_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,90},{42,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,33}}</string>
			<key>sourceSize</key>
			<string>{42,33}</string>
		</dict>
		<key>combatboy_parts-combatboy_mount_body_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,58},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatboy_parts-combatboy_mount_head_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,62},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatboy_parts-combatboy_qiu20_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,184},{23,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,25}}</string>
			<key>sourceSize</key>
			<string>{23,25}</string>
		</dict>
		<key>combatboy_parts-combatboy_qiupai10_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,0},{75,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,79}}</string>
			<key>sourceSize</key>
			<string>{75,79}</string>
		</dict>
		<key>combatboy_parts-combatboy_qiupai20_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,0},{83,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,70}}</string>
			<key>sourceSize</key>
			<string>{83,70}</string>
		</dict>
		<key>combatboy_parts-combatboy_shank10_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,114},{47,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,19}}</string>
			<key>sourceSize</key>
			<string>{47,19}</string>
		</dict>
		<key>combatboy_parts-combatboy_shank10_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,113},{23,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,44}}</string>
			<key>sourceSize</key>
			<string>{23,44}</string>
		</dict>
		<key>combatboy_parts-combatboy_shank20_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,138},{15,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,42}}</string>
			<key>sourceSize</key>
			<string>{15,42}</string>
		</dict>
		<key>combatboy_parts-combatboy_shank20_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,150},{19,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,41}}</string>
			<key>sourceSize</key>
			<string>{19,41}</string>
		</dict>
		<key>combatboy_parts-combatboy_shank_L2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,81},{50,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,25}}</string>
			<key>sourceSize</key>
			<string>{50,25}</string>
		</dict>
		<key>combatboy_parts-combatboy_shank_L3_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,186},{27,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,17}}</string>
			<key>sourceSize</key>
			<string>{27,17}</string>
		</dict>
		<key>combatboy_parts-combatboy_shank_R2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,50},{29,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,51}}</string>
			<key>sourceSize</key>
			<string>{29,51}</string>
		</dict>
		<key>combatboy_parts-combatboy_shank_R3_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,202},{20,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,13}}</string>
			<key>sourceSize</key>
			<string>{20,13}</string>
		</dict>
		<key>combatboy_parts-combatboy_shank_R5_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,135},{36,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,25}}</string>
			<key>sourceSize</key>
			<string>{36,25}</string>
		</dict>
		<key>combatboy_parts-combatboy_thigh10_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,113},{27,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,40}}</string>
			<key>sourceSize</key>
			<string>{27,40}</string>
		</dict>
		<key>combatboy_parts-combatboy_thigh10_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,54},{42,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,36}}</string>
			<key>sourceSize</key>
			<string>{42,36}</string>
		</dict>
		<key>combatboy_parts-combatboy_thigh20_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,117},{22,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,41}}</string>
			<key>sourceSize</key>
			<string>{22,41}</string>
		</dict>
		<key>combatboy_parts-combatboy_thigh20_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,81},{27,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,41}}</string>
			<key>sourceSize</key>
			<string>{27,41}</string>
		</dict>
		<key>combatboy_parts-combatboy_thigh_L22_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,135},{24,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,37}}</string>
			<key>sourceSize</key>
			<string>{24,37}</string>
		</dict>
		<key>combatboy_parts-combatboy_thigh_L2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,0},{36,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,48}}</string>
			<key>sourceSize</key>
			<string>{36,48}</string>
		</dict>
		<key>combatboy_parts-combatboy_thigh_L3_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,131},{36,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,27}}</string>
			<key>sourceSize</key>
			<string>{36,27}</string>
		</dict>
		<key>combatboy_parts-combatboy_thigh_R1_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,125},{38,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,27}}</string>
			<key>sourceSize</key>
			<string>{38,27}</string>
		</dict>
		<key>combatboy_parts-combatboy_thigh_R2_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,72},{49,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,40}}</string>
			<key>sourceSize</key>
			<string>{49,40}</string>
		</dict>
		<key>combatboy_parts-combatboy_thigh_R5_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,76},{27,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,42}}</string>
			<key>sourceSize</key>
			<string>{27,42}</string>
		</dict>
		<key>combatboy_parts-combatboy_tu10_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,160},{13,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,23}}</string>
			<key>sourceSize</key>
			<string>{13,23}</string>
		</dict>
		<key>combatboy_parts-combatboy_tuan20_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,199},{11,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,21}}</string>
			<key>sourceSize</key>
			<string>{11,21}</string>
		</dict>
		<key>combatboy_parts-combatboy_wing_L_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,50},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
		<key>combatboy_parts-combatboy_wing_R_011_rs002.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,54},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>combatboy_body_011_rs002.png</string>
		<key>size</key>
		<string>{512,256}</string>
		<key>textureFileName</key>
		<string>combatboy_body_011_rs002.png</string>
	</dict>
</dict>
</plist>
