<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>combatboy_parts-combatboy_face11_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,145},{62,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,39}}</string>
        <key>sourceSize</key>
        <string>{62,39}</string>
      </dict>
      <key>combatboy_parts-combatboy_face10_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,0},{65,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,52}}</string>
        <key>sourceSize</key>
        <string>{65,52}</string>
      </dict>
      <key>combatboy_parts-combatboy_face5_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{64,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,43}}</string>
        <key>sourceSize</key>
        <string>{64,43}</string>
      </dict>
      <key>combatboy_parts-combatboy_face4_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,141},{58,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,46}}</string>
        <key>sourceSize</key>
        <string>{58,46}</string>
      </dict>
      <key>combatboy_parts-combatboy_face6_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,0},{65,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,55}}</string>
        <key>sourceSize</key>
        <string>{65,55}</string>
      </dict>
      <key>combatboy_parts-combatboy_face8_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{71,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,49}}</string>
        <key>sourceSize</key>
        <string>{71,49}</string>
      </dict>
      <key>combatboy_parts-combatboy_face7_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,100},{62,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,45}}</string>
        <key>sourceSize</key>
        <string>{62,45}</string>
      </dict>
      <key>combatboy_parts-combatboy_face9_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,54},{66,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,44}}</string>
        <key>sourceSize</key>
        <string>{66,44}</string>
      </dict>
      <key>combatboy_parts-combatboy_face3_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,101},{64,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,42}}</string>
        <key>sourceSize</key>
        <string>{64,42}</string>
      </dict>
      <key>combatboy_parts-combatboy_face2_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,57},{66,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,42}}</string>
        <key>sourceSize</key>
        <string>{66,42}</string>
      </dict>
      <key>combatboy_parts-combatboy_face1_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,51},{67,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,43}}</string>
        <key>sourceSize</key>
        <string>{67,43}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>combatboy_face_011.png</string>
      <key>textureFileName</key>
      <string>combatboy_face_011.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>