<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>combatboy_parts-combatboy_facial_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,106}}</string>
        <key>sourceSize</key>
        <string>{95,106}</string>
      </dict>
      <key>combatboy_parts-combatboy_hat1_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,135},{101,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,59}}</string>
        <key>sourceSize</key>
        <string>{101,59}</string>
      </dict>
      <key>combatboy_parts-combatboy_hair1_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,89},{58,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,28}}</string>
        <key>sourceSize</key>
        <string>{58,28}</string>
      </dict>
      <key>combatboy_parts-combatboy_hair2_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,86},{57,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,42}}</string>
        <key>sourceSize</key>
        <string>{57,42}</string>
      </dict>
      <key>combatboy_parts-combatboy_hair3_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{50,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,57}}</string>
        <key>sourceSize</key>
        <string>{50,57}</string>
      </dict>
      <key>combatboy_parts-combatboy_hair4_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,59},{51,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,28}}</string>
        <key>sourceSize</key>
        <string>{51,28}</string>
      </dict>
      <key>combatboy_parts-combatboy_hair5_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{28,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,44}}</string>
        <key>sourceSize</key>
        <string>{28,44}</string>
      </dict>
      <key>combatboy_parts-combatboy_hair6_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{99,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,84}}</string>
        <key>sourceSize</key>
        <string>{99,84}</string>
      </dict>
      <key>combatboy_parts-combatboy_hair7_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,86},{24,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,51}}</string>
        <key>sourceSize</key>
        <string>{24,51}</string>
      </dict>
      <key>combatboy_parts-combatboy_hair14_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,108},{27,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,25}}</string>
        <key>sourceSize</key>
        <string>{27,25}</string>
      </dict>
      <key>combatboy_face.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{3,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,4}}</string>
        <key>sourceSize</key>
        <string>{3,4}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>combatboy_head_011.png</string>
      <key>textureFileName</key>
      <string>combatboy_head_011.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>