<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>combatgirl_parts-combatgirl_facial_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{97,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,104}}</string>
        <key>sourceSize</key>
        <string>{97,104}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair1_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{51,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,115}}</string>
        <key>sourceSize</key>
        <string>{51,115}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,106},{71,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,74}}</string>
        <key>sourceSize</key>
        <string>{71,74}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,0},{31,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,63}}</string>
        <key>sourceSize</key>
        <string>{31,63}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair4_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{110,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,94}}</string>
        <key>sourceSize</key>
        <string>{110,94}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair5_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,96},{50,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,73}}</string>
        <key>sourceSize</key>
        <string>{50,73}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair6_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,182},{54,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,31}}</string>
        <key>sourceSize</key>
        <string>{54,31}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_erhuan_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,106},{17,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,18}}</string>
        <key>sourceSize</key>
        <string>{17,18}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair7_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,65},{25,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,61}}</string>
        <key>sourceSize</key>
        <string>{25,61}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair8_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,182},{61,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,57}}</string>
        <key>sourceSize</key>
        <string>{61,57}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_hair9_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,128},{51,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,69}}</string>
        <key>sourceSize</key>
        <string>{51,69}</string>
      </dict>
      <key>combatgirl_face.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{3,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,4}}</string>
        <key>sourceSize</key>
        <string>{3,4}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>combatgirl_head_012.png</string>
      <key>textureFileName</key>
      <string>combatgirl_head_012.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>