<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>combatgirl_parts-combatgirl_face5_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,143},{60,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,46}}</string>
        <key>sourceSize</key>
        <string>{60,46}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face9_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{63,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,45}}</string>
        <key>sourceSize</key>
        <string>{63,45}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face8_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,95},{64,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,46}}</string>
        <key>sourceSize</key>
        <string>{64,46}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face11_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{66,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,47}}</string>
        <key>sourceSize</key>
        <string>{66,47}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face10_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,138},{62,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,45}}</string>
        <key>sourceSize</key>
        <string>{62,45}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face6_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{68,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,49}}</string>
        <key>sourceSize</key>
        <string>{68,49}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face7_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{72,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,51}}</string>
        <key>sourceSize</key>
        <string>{72,51}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face4_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,49},{68,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,43}}</string>
        <key>sourceSize</key>
        <string>{68,43}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face3_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,94},{68,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,42}}</string>
        <key>sourceSize</key>
        <string>{68,42}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face2_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,51},{68,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,42}}</string>
        <key>sourceSize</key>
        <string>{68,42}</string>
      </dict>
      <key>combatgirl_parts-combatgirl_face1_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,53},{68,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,42}}</string>
        <key>sourceSize</key>
        <string>{68,42}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>combatgirl_face_012.png</string>
      <key>textureFileName</key>
      <string>combatgirl_face_012.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>