<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>monsterskill_zuduiboss3_cjfz_09.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,93},{276,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{276,91}}</string>
    <key>sourceSize</key>
    <string>{276,91}</string>
   </dict>
   <key>monsterskill_zuduiboss3_cjfz_08.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,837},{276,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{276,91}}</string>
    <key>sourceSize</key>
    <string>{276,91}</string>
   </dict>
   <key>monsterskill_zuduiboss3_cjfz_07.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,279},{276,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{276,91}}</string>
    <key>sourceSize</key>
    <string>{276,91}</string>
   </dict>
   <key>monsterskill_zuduiboss3_cjfz_06.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,744},{276,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{276,91}}</string>
    <key>sourceSize</key>
    <string>{276,91}</string>
   </dict>
   <key>monsterskill_zuduiboss3_cjfz_05.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,465},{276,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{276,91}}</string>
    <key>sourceSize</key>
    <string>{276,91}</string>
   </dict>
   <key>monsterskill_zuduiboss3_cjfz_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{276,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{276,91}}</string>
    <key>sourceSize</key>
    <string>{276,91}</string>
   </dict>
   <key>monsterskill_zuduiboss3_cjfz_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,186},{276,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{276,91}}</string>
    <key>sourceSize</key>
    <string>{276,91}</string>
   </dict>
   <key>monsterskill_zuduiboss3_cjfz_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,372},{276,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{276,91}}</string>
    <key>sourceSize</key>
    <string>{276,91}</string>
   </dict>
   <key>monsterskill_zuduiboss3_cjfz_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,558},{276,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{276,91}}</string>
    <key>sourceSize</key>
    <string>{276,91}</string>
   </dict>
   <key>monsterskill_zuduiboss3_cjfz_00.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,651},{276,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{276,91}}</string>
    <key>sourceSize</key>
    <string>{276,91}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>monsterskill_zuduiboss3_cjfz.png</string>
   <key>textureFileName</key>
   <string>monsterskill_zuduiboss3_cjfz.png</string>
   <key>size</key>
   <string>{512,1024}</string>
  </dict>
 </dict>
</plist>