<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monsterskill_sjboss_skill2_hit_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,202},{239,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,200}}</string>
        <key>sourceSize</key>
        <string>{239,200}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_hit_09.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{239,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,200}}</string>
        <key>sourceSize</key>
        <string>{239,200}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_hit_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,202},{239,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,200}}</string>
        <key>sourceSize</key>
        <string>{239,200}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_hit_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,202},{239,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,200}}</string>
        <key>sourceSize</key>
        <string>{239,200}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_hit_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,404},{239,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,200}}</string>
        <key>sourceSize</key>
        <string>{239,200}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_hit_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,202},{239,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,200}}</string>
        <key>sourceSize</key>
        <string>{239,200}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_hit_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,404},{239,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,200}}</string>
        <key>sourceSize</key>
        <string>{239,200}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_hit_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,404},{239,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,200}}</string>
        <key>sourceSize</key>
        <string>{239,200}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_hit_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{239,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,200}}</string>
        <key>sourceSize</key>
        <string>{239,200}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_hit_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,0},{239,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,200}}</string>
        <key>sourceSize</key>
        <string>{239,200}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_hit_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,0},{239,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{239,200}}</string>
        <key>sourceSize</key>
        <string>{239,200}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_suoding_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,404},{204,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,49}}</string>
        <key>sourceSize</key>
        <string>{204,49}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_suoding_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,606},{204,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,49}}</string>
        <key>sourceSize</key>
        <string>{204,49}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_suoding_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,606},{204,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,49}}</string>
        <key>sourceSize</key>
        <string>{204,49}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_suoding_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,455},{204,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,49}}</string>
        <key>sourceSize</key>
        <string>{204,49}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_suoding_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,506},{204,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,49}}</string>
        <key>sourceSize</key>
        <string>{204,49}</string>
      </dict>
      <key>monsterskill_sjboss_skill2_suoding_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,557},{204,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,49}}</string>
        <key>sourceSize</key>
        <string>{204,49}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monsterskill_sjboss_skill2_hit.png</string>
      <key>textureFileName</key>
      <string>monsterskill_sjboss_skill2_hit.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
    </dict>
  </dict>
</plist>