<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>skills_zzd_sd_04.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,204},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>skills_zzd_sd_03.png</key>
   <dict>
    <key>frame</key>
    <string>{{102,102},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>skills_zzd_sd_02.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>skills_zzd_sd_01.png</key>
   <dict>
    <key>frame</key>
    <string>{{102,0},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>skills_zzd_sd_00.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,102},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>skills_zzd_sd.png</string>
   <key>textureFileName</key>
   <string>skills_zzd_sd.png</string>
   <key>size</key>
   <string>{256,512}</string>
  </dict>
 </dict>
</plist>