<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>skills_cj_rcfb_02_08.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,175},{90,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,173}}</string>
        <key>sourceSize</key>
        <string>{90,173}</string>
      </dict>
      <key>skills_cj_rcfb_02_07.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,0},{90,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,173}}</string>
        <key>sourceSize</key>
        <string>{90,173}</string>
      </dict>
      <key>skills_cj_rcfb_02_06.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,175},{90,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,173}}</string>
        <key>sourceSize</key>
        <string>{90,173}</string>
      </dict>
      <key>skills_cj_rcfb_02_05.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{90,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,173}}</string>
        <key>sourceSize</key>
        <string>{90,173}</string>
      </dict>
      <key>skills_cj_rcfb_02_04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{90,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,173}}</string>
        <key>sourceSize</key>
        <string>{90,173}</string>
      </dict>
      <key>skills_cj_rcfb_02_03.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{90,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,173}}</string>
        <key>sourceSize</key>
        <string>{90,173}</string>
      </dict>
      <key>skills_cj_rcfb_02_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,0},{90,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,173}}</string>
        <key>sourceSize</key>
        <string>{90,173}</string>
      </dict>
      <key>skills_cj_rcfb_02_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{90,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,173}}</string>
        <key>sourceSize</key>
        <string>{90,173}</string>
      </dict>
      <key>skills_cj_rcfb_02_00.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,175},{90,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,173}}</string>
        <key>sourceSize</key>
        <string>{90,173}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>skills_cj_rcfb_02.png</string>
      <key>textureFileName</key>
      <string>skills_cj_rcfb_02.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>